{% extends 'home/m-base.html' %}
{% block customcss %}
{% endblock %}


{% block content %}
    <div class="layui-row chc-product-list">
        <div class="layui-col-xs1">
            <a href="javascript:;" onclick="javascript:history.back();"><i class="layui-icon layui-icon-return"></i></a>
        </div>
        <div class="layui-col-xs10">
                关于我们
        </div>
        <div class="layui-col-xs1">
            <i class="layui-icon layui-icon-shrink-right"></i>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-col-xs12">
            <h1>电动伸缩门    宝马-371Y</h1>
            <img src="/static/images/product/20160331102244_24954.jpg">
        </div>
    </div>
{% endblock %}


{% block customjs %}
{% endblock %}



