{% extends 'home/base.html' %}
{% block customcss %}
{% endblock %}

{% block content %}
    <div class="layui-carousel" id="test10">
      <div carousel-item>
        <div><img src="/static/images/20160421100535_26003.jpg"></div>
        <div><img src="/static/images/20160425162036_36991.jpg"></div>
        <div><img src="/static/images/20160421100535_26003.jpg"></div>
        <div><img src="/static/images/20160425162036_36991.jpg"></div>
      </div>
    </div>
    <div class="layui-container ">
        <div class="chc-hotword-and-search-bar">
            <div class="layui-row">
                <div class="layui-col-md8">
                    <span>
                        <a href="javascript:void(0);" class="chc-hotword">热门关键词：</a>
                        <a>折叠门</a>
                        <a>电动伸缩门</a>
                        <a>智能道闸</a>
                        <a>停车场系统</a>
                        <a>庭院别墅大门</a>
                        <a>铝艺围栏</a>
                        <a>卷帘门</a>
                    </span>
                </div>
                <div class="layui-col-md4 chc-hotword-right">

                    <div class="chc-hotword-search">
                        <input type="text" name="title" required  lay-verify="required" placeholder="请输入要搜索的关键词" autocomplete="off" class="layui-input">
                    </div>
                    <div>
                        <button class="layui-btn layui-btn-primary"><i class="layui-icon layui-icon-search"></i></button>
                    </div>

                </div>
            </div>
        </div>
        <br>
        <div class="layui-row chc-products layui-col-space10">
            <div class="layui-col-md3">
                <div class="chc-product-cate-left">
                    <h2 class="title-1"><i class="layui-icon layui-icon-app"></i>产品中心</h2>
                    <ul>
                        <li class="chc-nav-item">
                            <div class="product-cate1">
                                <a >工业门系列 <i class="layui-icon layui-icon-down"></i></a>
                            </div>

                            <dl class="product-details">
                                <dd><a href="">悬浮折叠门</a></dd>
                                <dd><a href="">无轨悬浮门</a></dd>
                                <dd><a href="">伸缩平移门</a></dd>
                            </dl>
                        </li>

                    </ul>
                    <ul>
                        <li class="chc-nav-item">
                            <div class="product-cate1">
                                <a >工业门系列 <i class="layui-icon layui-icon-down"></i></a>
                            </div>

                            <dl class="product-details">
                                <dd><a href="">悬浮折叠门</a></dd>
                                <dd><a href="">无轨悬浮门</a></dd>
                                <dd><a href="">伸缩平移门</a></dd>
                            </dl>
                        </li>

                    </ul>
                    <ul>
                        <li class="chc-nav-item">
                            <div class="product-cate1">
                                <a >工业门系列 <i class="layui-icon layui-icon-down"></i></a>
                            </div>

                            <dl class="product-details">
                                <dd><a href="">悬浮折叠门</a></dd>
                                <dd><a href="">无轨悬浮门</a></dd>
                                <dd><a href="">伸缩平移门</a></dd>
                            </dl>
                        </li>

                    </ul>
                    <ul>
                        <li class="chc-nav-item">
                            <div class="product-cate1">
                                <a >工业门系列 <i class="layui-icon layui-icon-down"></i></a>
                            </div>

                            <dl class="product-details">
                                <dd><a href="">悬浮折叠门</a></dd>
                                <dd><a href="">无轨悬浮门</a></dd>
                                <dd><a href="">伸缩平移门</a></dd>
                            </dl>
                        </li>

                    </ul>
                    <h2 class="phone-01">
                        <span class="phone-icon"></span>
                        <span>免费咨询热线</span>
                        <p>185-3008-5166</p>
                    </h2>
                </div>
            </div>
            <div class="layui-col-md9 chc-product-right">
                    <div class="layui-row chc-product-type">
                        <ul>
                            <li>热销产品</li>
                            <li>新品上市</li>
                        </ul>
                    </div>
                    <div class="layi-row layui-col-space10 chc-product-desc">
                        <div class="layui-col-md6 ">
                            <div class="product-fengmian">
                                <a href="">
                                    <img src="/static/images/product/20160331102244_24954.jpg">
                                    <p>电动伸缩门 宝马-371Y</p>
                                </a>
                            </div>
                        </div>
                        <div class="layui-col-md6 ">
                            <div class="product-fengmian">
                                <a href="">
                                    <img src="/static/images/product/20160331102244_24954.jpg">
                                    <p>电动伸缩门 宝马-371Y</p>
                                </a>
                            </div>
                        </div>
                        <div class="layui-col-md6 ">
                            <div class="product-fengmian ">
                                <a href="">
                                    <img src="/static/images/product/20160331102244_24954.jpg">
                                    <p>电动伸缩门 宝马-371Y</p>
                                </a>
                            </div>
                        </div>
                        <div class="layui-col-md6 ">
                            <div class="product-fengmian ">
                                <a href="">
                                    <img src="/static/images/product/20160331102244_24954.jpg">
                                    <p>电动伸缩门 宝马-371Y</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="layui-row chc-relate-btn">
                        <div class="layui-col-md5">
                            <button class="layui-btn layui-btn-lg consult-at-once">立即咨询</button>
                        </div>
                        <div class="layui-col-md2">&nbsp;</div>
                        <div class="layui-col-md5">
                            <button class="layui-btn layui-btn-lg relation-our">联系我们</button>
                        </div>


                    </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 chc-banner-01">
                <a><img src="/static/images/banner/banner.png" style="width: 100%;height: 100%"></a>
            </div>
        </div>
        <!--上下切换选项卡-->
        <div class="layui-row chc-up-and-down-slide">
            <div class="layui-col-md4">
                <ul>
                    <li><i class="layui-icon layui-icon-play"></i>车牌自动识别停车管理系统</li>
                    <li><i class="layui-icon layui-icon-play"></i>车牌识别云服务解决方案</li>
                    <li><i class="layui-icon layui-icon-play"></i>自动云查询终端系统</li>
                    <li><i class="layui-icon layui-icon-play"></i>手持式停车场管理系统</li>
                </ul>
            </div>
            <div class="layui-col-md8 slide-img">
                <a><img src="/static/images/banner/banner.png" class="slide-img"></a>
            </div>
        </div>
        <div class="layui-row">
            <div class="cateT">
                <a><img src="/static/images/banner/caseT.png"></a>
            </div>
            <div class="chc-example-list">
                <ul>
                    <li><img src="/static/images/door-icon/door01.png">电动伸缩门案例</li>
                    <li><img src="/static/images/door-icon/door02.png">智能悬浮门案例</li>
                    <li><img src="/static/images/door-icon/door03.png">别墅庭院大门案例</li>
                    <li><img src="/static/images/door-icon/door04.png">停车场管理案例</li>
                    <li><img src="/static/images/door-icon/door05.png">智能通道闸案例</li>
                </ul>
                <div class="layui-row layui-col-space10">
                    <div class="layui-col-md4 chc-example">
                        <div class="door">
                            <a href="">
                                <img src="/static/images/product/20171207103501_59032.jpg">
                                <p>北京航空航天大学</p>
                            </a>

                        </div>
                    </div>
                    <div class="layui-col-md4 chc-example">
                        <div class="door">
                            <a href="">
                                <img src="/static/images/product/20171207103501_59032.jpg">
                                <p>北京航空航天大学</p>
                            </a>

                        </div>
                    </div>
                    <div class="layui-col-md4 chc-example">
                        <div class="door">
                            <a href="">
                                <img src="/static/images/product/20171207103501_59032.jpg">
                                <p>北京航空航天大学</p>
                            </a>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="layui-row chc-banner-02">
            <div class="layui-col-md8 c-red">
                    <p class="c-p-1">&nbsp;&nbsp;十五年专注一站式门道系统解决方案，是您专业的门面系统形象专家！</p>
                    <p class="c-p-2">&nbsp;&nbsp;&nbsp;&nbsp;依据用户要求，定制非标产品的生产制造</p>
            </div>
            <div class="layui-col-md4 c-black">
                    <h2 class="phone-01">
                        <span class="phone-icon">&nbsp;</span>
                       <span>免费咨询热线</span>
                        <p>185-3008-5166</p>
                    </h2>
            </div>

        </div>

    </div>
    <div class="layui-carousel">
        <div class="layui-row chc-worry">
            <div class="layui-col-md5">&nbsp;</div>
            <div class="layui-col-md5">
                <div class="layui-row">
                    <div class="layui-col-md6">
                        <ul class="t-desc">
                            <li><img src="/static/images/door-icon/icon_duihao.png">很多小厂没有研发实力，技术不过关，产品质量不稳定</li>
                            <li><img src="/static/images/door-icon/icon_duihao.png">找的小型厂家无法满足自己的供货需求，拖延交期？</li>
                            <li><img src="/static/images/door-icon/icon_duihao.png">物流成本高，进出口不方便，综合性价比非常低？</li>
                        </ul>
                    </div>
                    <div class="layui-col-md6">
                        <uL class="t-desc">
                            <li><img src="/static/images/door-icon/icon_duihao.png">无生产标准，加工过程中偷工减料，产品质量没有保障？</li>
                            <li><img src="/static/images/door-icon/icon_duihao.png">售后服务不及时，没有安装团队，不及时保养维修？</li>
                            <li><button class="layui-btn layui-btn-lg">在线咨询</button></li>
                        </uL>
                    </div>
                </div>
            </div>
            <div class="layui-col-md2">&nbsp;</div>
        </div>
        <div class="layui-row chc-advantage layui-col-space10">
            <div class="layui-col-md12 t-desc">
                <p>强烈推荐在沿海、东北、西北等强风及恶劣天气地区使用</p>
                <p>通过专业测试，主框”△“型结构</p>
                <p>有效降低50%以上风阻 提高抗风能力</p>
            </div>

            <div class="layui-container chc-four-feature">
                <div class="layui-row">
                    <div class="layui-col-md2">
                        <div class="feature">
                            <p>01</p>
                            <p>专利保证</p>
                        </div>
                    </div>
                    <div class="layui-col-md2">
                        <div class="feature">
                            <p>02</p>
                            <p>精密度高</p>
                        </div>
                    </div>
                    <div class="layui-col-md2">
                        <div class="feature">
                            <p>03</p>
                            <p>抗腐蚀性强</p>
                        </div>
                    </div>
                    <div class="layui-col-md2">
                        <div class="feature">
                            <p>04</p>
                            <p>精致外观</p>
                        </div>
                    </div>
                    <div class="layui-col-md2">
                        <div class="feature">
                            <p>05</p>
                            <p>质量保证</p>
                        </div>
                    </div>
                    <div class="layui-col-md2">
                        <div class="feature">
                            <p>06</p>
                            <p>使用寿命长</p>
                        </div>
                    </div>
                </div>
                <div class="layui-row chc-caigou-btn">
                    <button class="layui-btn layui-btn-lg">立即采购</button>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-container chc-slide-honor ">
        <div class="layui-row layui-hide-xs">
            <div class="layui-col-md12 title-2">
                <h2>10年来，金洋九峰已经为<span class="t-red">全国千余企业</span>提供门面形象</h2>
            </div>
            <div class="layui-col-md12">
                    <div class="picMarquee-left layui-col-md12">

                        <div class="bd">
                            <ul class="picList">
                                <li>
                                    <div class="pic"><a href="http://www.SuperSlide2.com" target="_blank"><img src="/static/images/slide/20160322180127_14115.jpg" /></a></div>
                                    <div class="title"><a href="http://www.SuperSlide2.com" target="_blank">效果图2</a></div>
                                </li>
                                <li>
                                    <div class="pic"><a href="http://www.SuperSlide2.com" target="_blank"><img src="/static/images/slide/20160322180348_71039.jpg" /></a></div>
                                    <div class="title"><a href="http://www.SuperSlide2.com" target="_blank">效果图3</a></div>
                                </li>
                                <li>
                                    <div class="pic"><a href="http://www.SuperSlide2.com" target="_blank"><img src="/static/images/slide/20160322180127_14115.jpg" /></a></div>
                                    <div class="title"><a href="http://www.SuperSlide2.com" target="_blank">效果图4</a></div>
                                </li>
                                <li>
                                    <div class="pic"><a href="http://www.SuperSlide2.com" target="_blank"><img src="/static/images/slide/20160322180348_71039.jpg" /></a></div>
                                    <div class="title"><a href="http://www.SuperSlide2.com" target="_blank">效果图5</a></div>
                                </li>
                                <li>
                                    <div class="pic"><a href="http://www.SuperSlide2.com" target="_blank"><img src="/static/images/slide/20160322180127_14115.jpg" /></a></div>
                                    <div class="title"><a href="http://www.SuperSlide2.com" target="_blank">效果图6</a></div>
                                </li>
                            </ul>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="layui-carousel chc-liyou">
        <div class="layui-container">
            <div class="layui-col-md12 chc-youshi">
                <img src="/static/images/banner/youshiT.png">
            </div>
            <div class="layui-col-md12 chc-youshi-bg">
                <div class="layui-row chc-shili">
                    <div class="layui-col-md2">&nbsp;</div>
                    <div class="layui-col-md4 chc-shili-1">
                        <h2 class="title">实力雄厚</h2>
                        <ul>
                            <li><i class="layui-icon layui-icon-triangle-r"></i>2004年开始研发和生产电动伸缩门，积累了10年丰富的工程和技术经验</li>
                            <li><i class="layui-icon layui-icon-triangle-r"></i>北京公司厂房占地20000多平方米，建筑面积10000平方米，高学历员工300多人；</li>
                            <li><i class="layui-icon layui-icon-triangle-r"></i>总部在北京，货经天津港出口到东盟，欧美都非常方便，物流成本低，时效性好</li>
                        </ul>
                    </div>
                    <div class="layui-col-md2">&nbsp;</div>
                    <div class="layui-col-md4 chc-shili-2">
                        <h2 class="title">品质保证</h2>
                        <ul >
                            <li><i class="layui-icon layui-icon-triangle-r"></i>与下游工厂长期合作，多数供应商合作均10年以上，原材料产品品质有很好的保障</li>
                            <li><i class="layui-icon layui-icon-triangle-r"></i>专业检测人员全程品质监督，所有产品通过ISO9001: 2000国际质量管理体系认证</li>
                            <li><i class="layui-icon layui-icon-triangle-r"></i>公司拥有自己独立的研发中心，拥有国家产品专利等自主知识产权</li>
                        </ul>
                    </div>
                </div>
                <div class="layui-row chc-shili-one">
                    <div class="layui-col-md2">&nbsp;</div>
                    <div class="layui-col-md4 chc-shili-1">
                        <h2 class="title">实力雄厚</h2>
                        <ul>
                            <li><i class="layui-icon layui-icon-triangle-r"></i>2004年开始研发和生产电动伸缩门，积累了10年丰富的工程和技术经验</li>
                            <li><i class="layui-icon layui-icon-triangle-r"></i>北京公司厂房占地20000多平方米，建筑面积10000平方米，高学历员工300多人；</li>
                            <li><i class="layui-icon layui-icon-triangle-r"></i>总部在北京，货经天津港出口到东盟，欧美都非常方便，物流成本低，时效性好</li>
                        </ul>
                    </div>
                    <div class="layui-col-md2">&nbsp;</div>
                    <div class="layui-col-md4 chc-shili-2">
                        <h2 class="title">品质保证</h2>
                        <ul >
                            <li><i class="layui-icon layui-icon-triangle-r"></i>与下游工厂长期合作，多数供应商合作均10年以上，原材料产品品质有很好的保障</li>
                            <li><i class="layui-icon layui-icon-triangle-r"></i>专业检测人员全程品质监督，所有产品通过ISO9001: 2000国际质量管理体系认证</li>
                            <li><i class="layui-icon layui-icon-triangle-r"></i>公司拥有自己独立的研发中心，拥有国家产品专利等自主知识产权</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12 chc-ad-1">
                <img src="/static/images/ad.jpg">
            </div>
            <div class="layui-row">
                <div class="layui-col-md2">
                    <img src="/static/images/companyT.jpg">
                </div>
                <div class="layui-col-md10"></div>
            </div>
        </div>
    </div>
    <div class="layui-container">
        <div class="layui-row layui-col-space10 chc-company">
            <div class="layui-col-md6 chc-company-img">
                <img src="/static/images/companyS.jpg">
            </div>
            <div class="layui-col-md6 chc-company-img">
                <img src="/static/images/20160323145728_43008.jpg" >
            </div>
        </div>
        <div class="layui-row chc-customer">
            <div class="layui-col-md2">
                <img src="/static/images/customerT.png">
            </div>
            <div class="layui-col-md10"></div>
            <div class="layui-col-md12">
                <div class="picMarquee-left-photo">
                    <div class="bd">
                        <ul class="picList layui-row layui-col-space10">
                            <li class="layui-col-md3">
                                <div class="pic"><a href="http://www.SuperSlide2.com" target="_blank"><img src="/static/images/customer/customer01.png" /></a></div>
                                <div class="title">
                                    <a href="http://www.SuperSlide2.com" target="_blank">
                                        <h4 class="t-name">黑龙江哈尔滨王总</h4><br>
                                        <p class="t-desc">以前我们酒店，采购都需要派人去参查产品的质量，采购一次前后时间差不多要一个月，而且价格比较昂贵，...</p><br>
                                        <span class="t-span">更多+</span>
                                    </a>
                                </div>
                            </li>
                            <li class="layui-col-md3">
                                <div class="pic"><a href="http://www.SuperSlide2.com" target="_blank"><img src="/static/images/customer/customer02.png" /></a></div>
                                <div class="title">
                                    <a href="http://www.SuperSlide2.com" target="_blank">
                                        <h4 class="t-name">北京 汪总</h4><br>
                                        <p class="t-desc">一次偶然的机会在展会中，了解金洋九峰的产品，就抱着试一试的心态订购了一批；货到之后发现产品质量非...</p><br>
                                        <span class="t-span">更多+</span>
                                    </a>
                                </div>
                            </li>
                            <li class="layui-col-md3">
                                <div class="pic"><a href="http://www.SuperSlide2.com" target="_blank"><img src="/static/images/customer/customer03.png" /></a></div>
                                <div class="title">
                                    <a href="http://www.SuperSlide2.com" target="_blank">
                                        <h4 class="t-name">呼市刘总</h4><br>
                                        <p class="t-desc">加入金洋九峰这个大家庭已经有5年多了，回想起来时间过得还挺快。从没有方向到快速发展，自己也跟随着...</p><br>
                                        <span class="t-span">更多+</span>
                                    </a>
                                </div>
                            </li>
                            <li class="layui-col-md3">
                                <div class="pic"><a href="http://www.SuperSlide2.com" target="_blank"><img src="/static/images/customer/customer01.png" /></a></div>
                                <div class="title">
                                    <a href="http://www.SuperSlide2.com" target="_blank">
                                        <h4 class="t-name">采购经理 杨总</h4><br>
                                        <p class="t-desc">我是2006年与金洋九峰合作至今，十年的交情，胜似家人，一路见证金洋九峰的成长，每年的公司年会和...</p><br>
                                        <span class="t-span">更多+</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row chc-behaviour layui-col-space30">
            <div class="layui-col-md4">
                <div class="chc-bh">
                    <a href="">金洋九峰动态</a>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="chc-bh">
                    <a href="">行业动态</a>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="chc-bh">
                    <a href="">常见问答F & Q</a>
                </div>
            </div>
        </div>
        <div class="layui-row chc-behaviour-detail layui-col-space30">
            <div class="layui-col-md4 chc-img">
                <img src="/static/images/behave01.jpg">
                <div class="d-date">
                    <p class="d-day">22</p>
                    <p class="d-month-year">2016-03</p>
                </div>
            </div>
            <div class="layui-col-md4">
                <ul class="chc-dongtai">
                    <li>
                        <div class="layui-row">
                            <div class="layui-col-md3">
                                <div class="d-date">
                                    <p class="d-day">22</p>
                                    <p class="d-month-year">2016-03</p>
                                </div>
                            </div>
                            <div class="layui-col-md9">
                                <div class="d-dongtai">
                                    <p class="title">喜报！北京金洋九峰悬浮折叠门和车牌识别</p>
                                    <p class="content">中国汽车技术研究中心有限公司（China Automotive Technology&Research Center </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="layui-row">
                            <div class="layui-col-md3">
                                <div class="d-date">
                                    <p class="d-day">19</p>
                                    <p class="d-month-year">2016-03</p>
                                </div>
                            </div>
                            <div class="layui-col-md9">
                                <div class="d-dongtai">
                                    <p class="title">电动伸缩门黑红搭配经典款式消防公安盾牌企业的护身符!</p>
                                    <p class="content">电动伸缩门黑红搭配，珠光宝气系列，经典款式!哪里都有你矫健的身躯，消防、公安等</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="layui-row">
                            <div class="layui-col-md3">
                                <div class="d-date">
                                    <p class="d-day">23</p>
                                    <p class="d-month-year">2017-03</p>
                                </div>
                            </div>
                            <div class="layui-col-md9">
                                <div class="d-dongtai">
                                    <p class="title">金洋九峰伸缩平移门守护北京市大兴区黄村镇政府!</p>
                                    <p class="content">风和日丽的季节，你的矫健身躯又给这座城市增添一道靓丽的风景! 北京市大兴区黄村镇</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="layui-col-md4 chc-question">
                <div class="layui-row">
                    <div class="txtMarquee-top">
                        <div class="bd">
                            <ul class="infoList">
                                <li>
                                    <span class="date" style="display: none">2011-11-11</span><a href="http://www.SuperSlide2.com" target="_blank"  style="display: none">中国打破了世界软件巨头规则</a><br>
                                    <span class="date"m style="display: none">2011-11-11</span><a href="http://www.SuperSlide2.com" target="_blank"  style="display: none">中国打破了世界软件巨头规则</a>
                                </li>
                                <li class="layui-col-md12">
                                    <a>
                                        <div class="layui-row chc-q">
                                            <div class="layui-col-md1">
                                                <h2 class="question">Q</h2>
                                            </div>
                                            <div class="layui-col-md11 q-title">
                                                电动伸缩门的内在结构您了解吗？
                                            </div>
                                        </div>

                                        <div class="layui-row chc-a">
                                            <div class="layui-col-md1">
                                                <h2 class="answer">A</h2>
                                            </div>
                                            <div class="layui-col-md11">
                                                定期检查线路连接状况，特别是裸露在外的线接头连接紧固； 检查电器接地是否良好，电
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="layui-col-md12">
                                    <a>
                                        <div class="layui-row chc-q">
                                            <div class="layui-col-md1">
                                                <h2 class="question">Q</h2>
                                            </div>
                                            <div class="layui-col-md11 q-title">
                                                电动伸缩门的内在结构您了解吗？
                                            </div>
                                        </div>

                                        <div class="layui-row chc-a">
                                            <div class="layui-col-md1">
                                                <h2 class="answer">A</h2>
                                            </div>
                                            <div class="layui-col-md11">
                                                定期检查线路连接状况，特别是裸露在外的线接头连接紧固； 检查电器接地是否良好，电
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="layui-col-md12">
                                    <a>
                                        <div class="layui-row chc-q">
                                            <div class="layui-col-md1">
                                                <h2 class="question">Q</h2>
                                            </div>
                                            <div class="layui-col-md11 q-title">
                                                电动伸缩门的内在结构您了解吗？
                                            </div>
                                        </div>

                                        <div class="layui-row chc-a">
                                            <div class="layui-col-md1">
                                                <h2 class="answer">A</h2>
                                            </div>
                                            <div class="layui-col-md11">
                                                定期检查线路连接状况，特别是裸露在外的线接头连接紧固； 检查电器接地是否良好，电
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="layui-col-md12">
                                    <a>
                                        <div class="layui-row chc-q">
                                            <div class="layui-col-md1">
                                                <h2 class="question">Q</h2>
                                            </div>
                                            <div class="layui-col-md11 q-title">
                                                电动伸缩门的内在结构您了解吗？
                                            </div>
                                        </div>

                                        <div class="layui-row chc-a">
                                            <div class="layui-col-md1">
                                                <h2 class="answer">A</h2>
                                            </div>
                                            <div class="layui-col-md11">
                                                定期检查线路连接状况，特别是裸露在外的线接头连接紧固； 检查电器接地是否良好，电
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row chc-url-link">
            <div class="layui-col-md1 chc-link">友情链接</div>
            <div class="layui-col-md11">
                <ul class="chc-link-friends">
                    <li>
                        <a>格栅灯盘</a>
                    </li>
                    <li>
                        <a>格栅灯盘</a>
                    </li>
                    <li>
                        <a>格栅灯盘</a>
                    </li>
                    <li>
                        <a>格栅灯盘</a>
                    </li>
                    <li>
                        <a>格栅灯盘</a>
                    </li>
                    <li>
                        <a>格栅灯盘</a>
                    </li>
                    <li>
                        <a>液压系统</a>
                    </li>
                    <li>
                        <a>别墅家具</a>
                    </li>
                    <li>
                        <a>游泳马赛克</a>
                    </li>
                    <li>
                        <a>食品级润滑油</a>
                    </li>
                    <li>
                        <a>电箱厂家</a>
                    </li>
                    <li>
                        <a>家具漆</a>
                    </li>
                    <li>
                        <a>人造大理石</a>
                    </li>
                    <li>
                        <a>酒店家具</a>
                    </li>
                    <li>
                        <a>不锈钢配电箱</a>
                    </li>
                    <li>
                        <a>液压系统</a>
                    </li>
                    <li>
                        <a>格栅灯盘</a>
                    </li>
                    <li>
                        <a>地板砖厂家</a>
                    </li>
                    <li>
                        <a>通风设备</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
{% block customjs %}
    <script type="text/javascript" src="/static/dahuazhuxi/jquery1.42.min.js"></script>
    <script type="text/javascript" src="/static/dahuazhuxi/jquery.SuperSlide.2.1.1.js"></script>
    <script type="text/javascript">
    //滑动图片
    jQuery(".picMarquee-left").slide({mainCell:".bd ul",autoPlay:true,effect:"leftMarquee",vis:3,interTime:50});
    jQuery(".picMarquee-left-photo").slide({mainCell:".bd ul",autoPlay:true,effect:"leftMarquee",vis:4,interTime:50});
    jQuery(".txtMarquee-top").slide({mainCell:".bd ul",autoPlay:true,effect:"topMarquee",vis:5,interTime:100});
    </script>
    <script>
layui.use('carousel', function(){
  var carousel = layui.carousel;
  //建造实例
  //图片轮播
  carousel.render({
    elem: '#test10'
    ,width: '100%'
    ,height: '500px'
    ,interval: 3000
  });

});
</script>
{% endblock %}
