{% extends 'home/base.html' %}
{% block customcss %}
    <link rel="stylesheet" href="/static/css/home.css" media="all">
{% endblock %}

{% block content %}
    <div class="layui-carousel" id="test10">
      <div carousel-item>
        <div><img src="/static/images/20160421100535_26003.jpg"></div>
        <div><img src="/static/images/20160425162036_36991.jpg"></div>
        <div><img src="/static/images/20160421100535_26003.jpg"></div>
        <div><img src="/static/images/20160425162036_36991.jpg"></div>
      </div>
    </div>
    <div class="layui-container ">
        <div class="chc-hotword-and-search-bar">
            <div class="layui-row">
                <div class="layui-col-md8">
                    <span>
                        <a href="javascript:void(0);" class="chc-hotword">热门关键词：</a>
                        <a>折叠门</a>
                        <a>电动伸缩门</a>
                        <a>智能道闸</a>
                        <a>停车场系统</a>
                        <a>庭院别墅大门</a>
                        <a>铝艺围栏</a>
                        <a>卷帘门</a>
                    </span>
                </div>
                <div class="layui-col-md4 chc-hotword-right">

                    <div class="chc-hotword-search">
                        <input type="text" name="title" required  lay-verify="required" placeholder="请输入要搜索的关键词" autocomplete="off" class="layui-input">
                    </div>
                    <div>
                        <button class="layui-btn layui-btn-primary"><i class="layui-icon layui-icon-search"></i></button>
                    </div>

                </div>
            </div>
        </div>
        <br>
        <div class="layui-row chc-products layui-col-space10">
            <div class="layui-col-md3">
                <div class="chc-product-cate-left">
                    <h2 class="title-1"><i class="layui-icon layui-icon-app"></i>产品中心</h2>
                    <ul>
                        <li class="chc-nav-item">
                            <div class="product-cate1">
                                <a >工业门系列 <i class="layui-icon layui-icon-down"></i></a>
                            </div>

                            <dl class="product-details">
                                <dd><a href="">悬浮折叠门</a></dd>
                                <dd><a href="">无轨悬浮门</a></dd>
                                <dd><a href="">伸缩平移门</a></dd>
                            </dl>
                        </li>

                    </ul>
                    <ul>
                        <li class="chc-nav-item">
                            <div class="product-cate1">
                                <a >工业门系列 <i class="layui-icon layui-icon-down"></i></a>
                            </div>

                            <dl class="product-details">
                                <dd><a href="">悬浮折叠门</a></dd>
                                <dd><a href="">无轨悬浮门</a></dd>
                                <dd><a href="">伸缩平移门</a></dd>
                            </dl>
                        </li>

                    </ul>
                    <ul>
                        <li class="chc-nav-item">
                            <div class="product-cate1">
                                <a >工业门系列 <i class="layui-icon layui-icon-down"></i></a>
                            </div>

                            <dl class="product-details">
                                <dd><a href="">悬浮折叠门</a></dd>
                                <dd><a href="">无轨悬浮门</a></dd>
                                <dd><a href="">伸缩平移门</a></dd>
                            </dl>
                        </li>

                    </ul>
                    <ul>
                        <li class="chc-nav-item">
                            <div class="product-cate1">
                                <a >工业门系列 <i class="layui-icon layui-icon-down"></i></a>
                            </div>

                            <dl class="product-details">
                                <dd><a href="">悬浮折叠门</a></dd>
                                <dd><a href="">无轨悬浮门</a></dd>
                                <dd><a href="">伸缩平移门</a></dd>
                            </dl>
                        </li>

                    </ul>
                    <h2 class="phone-01">
                        <span class="phone-icon">&nbsp;</span>
                       <span>免费咨询热线</span>
                        <p>139-1063-0394</p>
                    </h2>
                </div>
            </div>
            <div class="layui-col-md9 chc-product-right">
                    <div class="layui-row chc-product-type">
                        <ul>
                            <li>热销产品</li>
                            <li>新品上市</li>
                        </ul>
                    </div>
                    <div class="layi-row layui-col-space10 chc-product-desc">
                        <div class="layui-col-md6 ">
                            <div class="product-fengmian">
                                <a href="">
                                    <img src="/static/images/product/20160331102244_24954.jpg">
                                    <p>电动伸缩门 宝马-371Y</p>
                                </a>
                            </div>
                        </div>
                        <div class="layui-col-md6 ">
                            <div class="product-fengmian">
                                <a href="">
                                    <img src="/static/images/product/20160331102244_24954.jpg">
                                    <p>电动伸缩门 宝马-371Y</p>
                                </a>
                            </div>
                        </div>
                        <div class="layui-col-md6 ">
                            <div class="product-fengmian ">
                                <a href="">
                                    <img src="/static/images/product/20160331102244_24954.jpg">
                                    <p>电动伸缩门 宝马-371Y</p>
                                </a>
                            </div>
                        </div>
                        <div class="layui-col-md6 ">
                            <div class="product-fengmian ">
                                <a href="">
                                    <img src="/static/images/product/20160331102244_24954.jpg">
                                    <p>电动伸缩门 宝马-371Y</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="layui-row chc-relate-btn">
                        <div class="layui-col-md5">
                            <button class="layui-btn layui-btn-lg consult-at-once">立即咨询</button>
                        </div>
                        <div class="layui-col-md2">&nbsp;</div>
                        <div class="layui-col-md5">
                            <button class="layui-btn layui-btn-lg relation-our">联系我们</button>
                        </div>


                    </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 chc-banner-01">
                <a><img src="/static/images/banner/banner.png" style="width: 100%;height: 100%"></a>
            </div>
        </div>
        <!--上下切换选项卡-->
        <div class="layui-row chc-up-and-down-slide">
            <div class="layui-col-md4">
                <ul>
                    <li><i class="layui-icon layui-icon-play"></i>车牌自动识别停车管理系统</li>
                    <li><i class="layui-icon layui-icon-play"></i>车牌识别云服务解决方案</li>
                    <li><i class="layui-icon layui-icon-play"></i>自动云查询终端系统</li>
                    <li><i class="layui-icon layui-icon-play"></i>手持式停车场管理系统</li>
                </ul>
            </div>
            <div class="layui-col-md8 slide-img">
                <a><img src="/static/images/banner/banner.png" class="slide-img"></a>
            </div>
        </div>
    </div>

{% endblock %}
{% block customjs %}
    <script>
layui.use('carousel', function(){
  var carousel = layui.carousel;
  //建造实例
  //图片轮播
  carousel.render({
    elem: '#test10'
    ,width: '100%'
    ,height: '500px'
    ,interval: 3000
  });

});
</script>
{% endblock %}