{% extends 'home/m-base.html' %}
{% block customcss %}

{% endblock %}

{% block content%}
    <div class="layui-row header_nav layui-col-space10">
        <div class="layui-col-sm4 layui-col-xs4 ">
            <div class="chc-nav">
                <a href="">金洋首页</a>
            </div>
        </div>
        <div class="layui-col-sm4 layui-col-xs4 ">
            <div class="chc-nav">
               <a href="/products/"> 产品主页</a>
            </div>
        </div>
        <!--div class="layui-col-sm4 layui-col-xs4 ">
            <div class="chc-nav">
               <a href=""> 招商加盟</a>
            </div>
        </div-->
        <div class="layui-col-sm4 layui-col-xs4 ">
            <div class="chc-nav">
                <a href="">成功案例</a>
            </div>
        </div>
        <div class="layui-col-sm4 layui-col-xs4 ">
            <div class="chc-nav">
                <a href="">门店展示</a>
            </div>
        </div>
        <div class="layui-col-sm4 layui-col-xs4 ">
            <div class="chc-nav">
                <a href="">荣誉证书</a>
            </div>
        </div>
        <div class="layui-col-sm4 layui-col-xs4 ">
            <div class="chc-nav">
                <a href="">关于金洋</a>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-carousel" id="test10">
          <div carousel-item>
            <div><a href=""><img src="/static/images/m/slide/slide-door01.png"></a></div>
            <div><a href=""><img src="/static/images/m/slide/slide-door02.png"></a></div>
            <div><a href=""><img src="/static/images/m/slide/slide-door01.png"></a></div>
            <div><a href=""><img src="/static/images/m/slide/slide-door02.png"></a></div>
          </div>
        </div>
        <div class="layui-col-xs12 chc-search-bar">
            <input class="layui-input" placeholder="请输入关键词"  name="search-key">
            <i class="layui-icon layui-icon-search"></i>
        </div>
    </div>
    <div class="layui-row chc-product-item">
        <div class="layui-col-xs6">
            <div class="c-label this">
                最新商品
            </div>
        </div>
        <div class="layui-col-xs6">
            <div class="c-label">
                热销商品
            </div>
        </div>
    </div>
    <div class="layui-row chc-product-photo layui-col-space10">
        <div class="layui-col-xs6">
            <div class="photo">
                <a href="/products/1.html">
                    <img src="/static/images/product/20160331102244_24954.jpg">
                    <p>电动伸缩门</p>
                </a>
            </div>
        </div>
        <div class="layui-col-xs6">
            <div class="photo">
                <a href="">
                    <img src="/static/images/product/20171207103501_59032.jpg">
                    <p>电动伸缩门</p>
                </a>
            </div>
        </div>
        <div class="layui-col-xs6">
            <div class="photo">
                <a href="">
                    <img src="/static/images/product/20160331102244_24954.jpg">
                    <p>电动伸缩门</p>
                </a>
            </div>
        </div>
        <div class="layui-col-xs6">
            <div class="photo">
                <a href="">
                    <img src="/static/images/product/20171207103501_59032.jpg">
                    <p>电动伸缩门</p>
                </a>
            </div>
        </div>
    </div>
    <div class="layui-row chc-online">
        <div class="layui-col-xs3">&nbsp;</div>
        <div class="layui-col-xs3 zixun ">
            <div class="this">
                在线咨询
            </div>

        </div>
        <div class="layui-col-xs3 zixun">
            <div class="">
                <a href="">查看更多</a>
            </div>
        </div>
        <div class="layui-col-xs3">&nbsp;</div>
        <div class="layui-col-xs12 chc-ad">
            <img src="/static/images/m/ad/td_01.jpg">
            <img src="/static/images/m/ad/td_02.jpg">
            <img src="/static/images/m/ad/td_03.jpg">
            <button class="layui-btn ">立即采购</button>
        </div>
    </div>

    <div class="layui-row chc-good-four">
        <div class="layui-carousel" id="test11">
          <div carousel-item>
            <div><a href=""><img src="/static/images/m/good/good01.jpg"></a></div>
            <div><a href=""><img src="/static/images/m/good/good02.jpg"></a></div>
            <div><a href=""><img src="/static/images/m/good/good03.jpg"></a></div>
            <div><a href=""><img src="/static/images/m/good/good04.jpg"></a></div>
          </div>
        </div>
    </div>
    <div class="layui-row chc-product-item">
        <div class="layui-col-xs6">
            <div class="c-label this">
                金洋九峰动态
            </div>
        </div>
        <div class="layui-col-xs6">
            <div class="c-label">
                行业动态
            </div>
        </div>
        <div class="layui-col-xs12 dongtai">
            <img src="/static/images/m/20181012113001_31978.jpg">
        </div>
        <div class="layui-col-xs12 news">
            <a href="/news/1.html"><i class="layui-icon layui-icon-triangle-r"></i>喜报！北京金洋九峰悬浮折叠门和车牌识别系统已通过中国汽车技术研究中心验收！</a>
        </div>
        <div class="layui-col-xs12 news">
            <a href="/news/1.html"><i class="layui-icon layui-icon-triangle-r"></i>喜报！北京金洋九峰悬浮折叠门和车牌识别系统已通过中国汽车技术研究中心验收！</a>
        </div>
        <div class="layui-col-xs12 news">
            <a href=""><i class="layui-icon layui-icon-triangle-r"></i>喜报！北京金洋九峰悬浮折叠门和车牌识别系统已通过中国汽车技术研究中心验收！</a>
        </div>
        <div class="layui-col-xs12 news">
            <a href=""><i class="layui-icon layui-icon-triangle-r"></i>喜报！北京金洋九峰悬浮折叠门和车牌识别系统已通过中国汽车技术研究中心验收！</a>
        </div>
        <div class="layui-col-xs12 news">
            <a href=""><i class="layui-icon layui-icon-triangle-r"></i>喜报！北京金洋九峰悬浮折叠门和车牌识别系统已通过中国汽车技术研究中心验收！</a>
        </div>
        <div class="layui-col-xs12 news-more">
            <a href="/news"><button class="layui-btn layui-btn-primary chc-default-btn">查看更多</button></a>
        </div>
    </div>
{% endblock %}


{% block customjs %}
<script>
    layui.use('carousel', function(){
      var carousel = layui.carousel;
      //建造实例
      //图片轮播
      carousel.render({
        elem: '#test10'
        ,width: '100%'
        ,height: '300px'
        ,interval: 3000
      });
      carousel.render({
        elem: '#test11'
        ,width: '100%'
        ,height: '420px'
        ,arrow: 'always'
        ,interval: 3000
      });
    });
</script>
{% endblock %}
