{% extends 'home/m-base.html' %}
{% block customcss %}

{% endblock %}

{% block content%}
    <div class="layui-row chc-product-list">
        <div class="layui-col-xs1">
            <a href="javascript:;" onclick="javascript:history.back();"><i class="layui-icon layui-icon-return"></i></a>
        </div>
        <div class="layui-col-xs10">
                新闻详情
        </div>
        <div class="layui-col-xs1">
            <i class="layui-icon layui-icon-shrink-right" onclick="zhedie()" id="zhedieid"></i>
        </div>
    </div>
    <div class="layui-row news-detail-content">
        <div class="layui-col-xs12 news-detail-head">
            <h1 class="chc-news-title">{{ newsinfo.title }}</h1>
            <div>
                <span class="layui-badge layui-badge">精贴</span>
                <span class="layui-badge layui-bg-gray">置顶</span>
                 <span></span>
            </div>
            <div class="detail-about">
                <span>发表时间：{{ newsinfo.addtime }}</span>
                <span>浏览100次</span>
            </div>
        </div>
        <div class="layui-col-xs12 chc-news-content">
                {% autoescape on %}
            {{ newsinfo.content }}
                {% endautoescape %}
        </div>
    </div>
{% endblock %}


{% block customjs %}

{% endblock %}