{% extends 'home/m-base.html' %}
{% block customcss %}
{% endblock %}


{% block content %}
    <div class="layui-row chc-news-list">
        <div class="layui-col-xs12 card-head">
            新闻列表
        </div>
        <div class="layui-col-xs12 news">
            <a href="/news/1.html">
                <h3>喜报！北京金洋九峰悬浮折叠门和车牌识别系统已通过中国汽车技术研究中心验收！</h3>
                <p>京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和</p>
                <span>2016-09-12</span>
            </a>
        </div>
        <div class="layui-col-xs12 news">
            <a href="/news/1.html">
                <h3>喜报！北京金洋九峰悬浮折叠门和车牌识别系统已通过中国汽车技术研究中心验收！</h3>
                <p>京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和</p>
                <span>2016-09-12</span>
            </a>
        </div>
        <div class="layui-col-xs12 news">
            <a href="/news/1.html">
                <h3>喜报！北京金洋九峰悬浮折叠门和车牌识别系统已通过中国汽车技术研究中心验收！</h3>
                <p>京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和</p>
                <span>2016-09-12</span>
            </a>
        </div>
        <div class="layui-col-xs12 news">
            <a href="/news/1.html">
                <h3>喜报！北京金洋九峰悬浮折叠门和车牌识别系统已通过中国汽车技术研究中心验收！</h3>
                <p>京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和</p>
                <span>2016-09-12</span>
            </a>
        </div>
        <div class="layui-col-xs12 news">
            <a href="/news/1.html">
                <h3>喜报！北京金洋九峰悬浮折叠门和车牌识别系统已通过中国汽车技术研究中心验收！</h3>
                <p>京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和</p>
                <span>2016-09-12</span>
            </a>
        </div>
        <div class="layui-col-xs12 news">
            <a href="/news/1.html">
                <h3>喜报！北京金洋九峰悬浮折叠门和车牌识别系统已通过中国汽车技术研究中心验收！</h3>
                <p>京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和</p>
                <span>2016-09-12</span>
            </a>
        </div>
        <div class="layui-col-xs12 news">
            <a href="/news/1.html">
                <h3>喜报！北京金洋九峰悬浮折叠门和车牌识别系统已通过中国汽车技术研究中心验收！</h3>
                <p>京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和</p>
                <span>2016-09-12</span>
            </a>
        </div>
        <div class="layui-col-xs12 news">
            <a href="/news/1.html">
                <h3>喜报！北京金洋九峰悬浮折叠门和车牌识别系统已通过中国汽车技术研究中心验收！</h3>
                <p>京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和京金洋九峰悬浮折叠门和</p>
                <span>2016-09-12</span>
            </a>
        </div>
    </div>
    <div class="layui-row chc-news-more-btn">
        <div class="layui-col-xs12">
            <button class="layui-btn chc-more-btn chc-default-btn">查看更多</button>
        </div>
    </div>
{% endblock %}


{% block customjs %}
{% endblock %}



