{% extends 'home/m-base.html' %}
{% block customcss %}
{% endblock %}


{% block content %}
    <div class="layui-row chc-news-list">
        <div class="layui-col-xs12 card-head">
            新闻列表
        </div>
        {% for i in news %}
        <div class="layui-col-xs12 news">
            <a href="/news/{{ i.nid }}.html">
                <h3>{{ i.title }}</h3>
                <p>{{ i.abstract }}</p>
                <span>{{ i.addtime }}</span>
            </a>
        </div>
        {% endfor%}
    </div>
    <div class="layui-row chc-news-more-btn">
        <div class="layui-col-xs12">
            <button class="layui-btn chc-more-btn chc-default-btn">查看更多</button>
        </div>
    </div>
{% endblock %}


{% block customjs %}
{% endblock %}



