{% extends 'home/m-base.html' %}
{% block customcss %}

{% endblock %}

{% block content%}
    <div class="layui-row news-detail-content">
        <div class="layui-col-xs12 news-detail-head">
            <h1 class="chc-news-title">喜报！北京金洋九峰悬浮折叠门和车牌识别系统已通过中国汽车技术研究中心验收！</h1>
            <div>
                <span class="layui-badge layui-badge">精贴</span>
                <span class="layui-badge layui-bg-gray">置顶</span>
                 <span></span>
            </div>
            <div class="detail-about">
                <span>发表时间：2016-12-12</span>
                <span>浏览100次</span>
            </div>
        </div>
        <div class="layui-col-xs12 chc-news-content">
            <p>通过中国汽车技术研究中心验收！感谢中汽中心的认可，相信专业品牌的力量! 选择北京金洋九峰科技有限公司产品,为您量身定制，你有需求，我有方案！免费上门测量、出设计效果图！</p>
            <p>通过中国汽车技术研究中心验收！感谢中汽中心的认可，相信专业品牌的力量! 选择北京金洋九峰科技有限公司产品,为您量身定制，你有需求，我有方案！免费上门测量、出设计效果图！</p>
            <p>通过中国汽车技术研究中心验收！感谢中汽中心的认可，相信专业品牌的力量! 选择北京金洋九峰科技有限公司产品,为您量身定制，你有需求，我有方案！免费上门测量、出设计效果图！</p>
            <p>通过中国汽车技术研究中心验收！感谢中汽中心的认可，相信专业品牌的力量! 选择北京金洋九峰科技有限公司产品,为您量身定制，你有需求，我有方案！免费上门测量、出设计效果图！</p>
        </div>
    </div>
{% endblock %}


{% block customjs %}

{% endblock %}