{% extends 'home/m-base.html' %}
{% block customcss %}

{% endblock %}

{% block content%}
    <div class="layui-row chc-product-list">
        <div class="layui-col-xs1">
            <a href="javascript:;" onclick="javascript:history.back();"><i class="layui-icon layui-icon-return"></i></a>
        </div>
        <div class="layui-col-xs10">
                最新商品
        </div>
        <div class="layui-col-xs1">
            <i class="layui-icon layui-icon-shrink-right"></i>
        </div>
    </div>
    <div class="layui-row chc-product-photo layui-col-space10">
        <div class="layui-col-xs6">
            <div class="photo">
                <a href="/products/1.html">
                    <img src="/static/images/product/20160331102244_24954.jpg">
                    <p>电动伸缩门</p>
                </a>
            </div>
        </div>
        <div class="layui-col-xs6">
            <div class="photo">
                <a href="/products/1.html">
                    <img src="/static/images/product/20171207103501_59032.jpg">
                    <p>电动伸缩门</p>
                </a>
            </div>
        </div>
        <div class="layui-col-xs6">
            <div class="photo">
                <a href="/products/1.html">
                    <img src="/static/images/product/20160331102244_24954.jpg">
                    <p>电动伸缩门</p>
                </a>
            </div>
        </div>
        <div class="layui-col-xs6">
            <div class="photo">
                <a href="/products/1.html">
                    <img src="/static/images/product/20171207103501_59032.jpg">
                    <p>电动伸缩门</p>
                </a>
            </div>
        </div>
        <div class="layui-col-xs6">
            <div class="photo">
                <a href="/products/1.html">
                    <img src="/static/images/product/20160331102244_24954.jpg">
                    <p>电动伸缩门</p>
                </a>
            </div>
        </div>
        <div class="layui-col-xs6">
            <div class="photo">
                <a href="/products/1.html">
                    <img src="/static/images/product/20171207103501_59032.jpg">
                    <p>电动伸缩门</p>
                </a>
            </div>
        </div>
        <div class="layui-col-xs6">
            <div class="photo">
                <a href="/products/1.html">
                    <img src="/static/images/product/20160331102244_24954.jpg">
                    <p>电动伸缩门</p>
                </a>
            </div>
        </div>
        <div class="layui-col-xs6">
            <div class="photo">
                <a href="/products/1.html">
                    <img src="/static/images/product/20171207103501_59032.jpg">
                    <p>电动伸缩门</p>
                </a>
            </div>
        </div>
    </div>
    <div class="layui-row chc-product-page">
        <div class="layui-col-xs12">
            <div class="c-page">
                <a href="" class="page-previous">上一页</a>
                <a class="page-location">5</a>
                <a class="page-next">下一页</a>
            </div>
        </div>
    </div>
{% endblock %}


{% block customjs %}

{% endblock %}