{% extends 'home/m-base.html' %}
{% block title %}{{ productinfo.title }}{% endblock %}
{% block keywords %}{{ productinfo.keyword }}{% endblock %}
{% block description %}{{ productinfo.abstract }}{% endblock %}
{% block customcss %}

{% endblock %}

{% block content%}
    <div class="layui-row chc-product-detail">
        <div class="layui-col-xs12 p-header">
            <h1>{{ productinfo.title }}</h1>
            <img src="{{ productinfo.title_img }}">
            <p>电动伸缩门材质：铝合金型材</p>
        </div>
        <div class="layui-col-xs12">
            <div class="layui-tab">
              <ul class="layui-tab-title">
                <li class="layui-this">产品详情</li>
                <li>在线留言</li>
              </ul>
              <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="product-caizhi">
                        <span>材质：不锈钢</span><br>
                        <span>型号：{{ productinfo.title }}</span>
                    </div>
                    <div class="chc-productinfo-content">
                        {% autoescape off %}
                            {{ productinfo.content }}
                        {% endautoescape %}
                    </div>

                </div>
                <div class="layui-tab-item">内容2</div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block customjs %}


{% endblock %}