{% extends 'home/m-base.html' %}
{% block customcss %}

{% endblock %}

{% block content%}
    <div class="layui-row chc-product-list">
        <div class="layui-col-xs1">
            <a href="javascript:;" onclick="javascript:history.back();"><i class="layui-icon layui-icon-return"></i></a>
        </div>
        <div class="layui-col-xs10">
                最新商品
        </div>
        <div class="layui-col-xs1">
            <i class="layui-icon layui-icon-shrink-right" onclick="zhedie()" id="zhedieid"></i>
        </div>
    </div>
    <div class="layui-row chc-product-photo layui-col-space10">
    {% for product in products %}
        <div class="layui-col-xs6">
            <div class="photo">
                <a href="/products/{{ product.pid }}.html">
                    <img src="{{ product.title_img }}">
                    <p>{{ product.title }}</p>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="layui-row chc-product-page">
        <div class="layui-col-xs12">
            <div class="c-page">
                <a href="" class="page-previous">上一页</a>
                <a class="page-location">{{ page }}</a>
                <a class="page-next">下一页</a>
            </div>
        </div>
    </div>
{% endblock %}


{% block customjs %}
    <script>
        layui.use('jquery',function () {
            var $ = layui.jquery;
            $(".page-next").on("click",function () {
                var page = Number($('.page-location').html())+Number(1);
                window.location.href = "/products/?page="+page;
            })
        })
    </script>

{% endblock %}