{% extends 'home/m-base.html' %}
{% block title %}{{ productinfo.title }}{% endblock %}
{% block keywords %}{{ productinfo.keyword }}{% endblock %}
{% block description %}{{ productinfo.abstract }}{% endblock %}
{% block customcss %}

{% endblock %}

{% block content%}
    <div class="layui-row chc-product-detail">
        <div class="layui-col-xs12 p-header">
            <h1>{{ productinfo.title }}</h1>
            <img src="{{ productinfo.title_img }}">
        </div>
        <div class="layui-col-xs12">
            <div class="layui-tab">
              <ul class="layui-tab-title">
                <li class="layui-this">产品详情</li>
                <li>专属定制</li>
              </ul>
              <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="product-caizhi">
                        <span>材质：金属</span><br>
                        <span>型号：{{ productinfo.title }}</span>
                    </div>
                    <div class="chc-productinfo-content">
                        {% autoescape off %}
                            {{ productinfo.content }}
                        {% endautoescape %}
                    </div>

                </div>
                <div class="layui-tab-item">
                    <form class="layui-form" action="" onsubmit="return false">
                        <div class="layui-col-xs12 head">
                            <div class="layui-col-xs12 liuyankuang layui-form-item">
                                <textarea placeholder="请输入你的定制需求" id="userdesc" name="userdesc" class="layui-input"></textarea>
                            </div>
                            <div class="layui-col-xs12 input layui-form-item">
                                <input class="layui-input" placeholder="您的称呼" id="username" name="username">
                            </div>
                            <div class="layui-col-xs12 input layui-form-item">
                                <input class="layui-input" name="telnumber" placeholder="电话（必填）" id="telnumber" lay-verify="required|phone">
                            </div>
                            <div class="layui-col-xs12 input layui-form-item">
                                <input class="layui-input" placeholder="邮箱" id="email" name="email">
                            </div>
                            <div class="layui-col-xs12 input layui-form-item">
                                <input class="layui-input" placeholder="地址" id="address" name="address">
                            </div>
                            <div class="layui-col-xs12 btn">
                                <button class="layui-btn" id="homesubmitform" lay-submit lay-filter="formDemo">提交定制</button>
                            </div>
                        </div>
                    </form>
                </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block customjs %}


{% endblock %}