{% extends 'home/m-base.html' %}
{% block customcss %}

{% endblock %}

{% block content%}
    <div class="layui-row chc-product-list">
        <div class="layui-col-xs1">
            <a href="javascript:;" onclick="javascript:history.back();"><i class="layui-icon layui-icon-return"></i></a>
        </div>
        <div class="layui-col-xs10">
                最新案例
        </div>
        <div class="layui-col-xs1">
            <i class="layui-icon layui-icon-shrink-right" onclick="zhedie()" id="zhedieid"></i>
        </div>
    </div>
    <div class="layui-row chc-success-example layui-col-space10">
    {% for i in examples %}
        <div class="layui-col-xs12 example">
            <a href="/example/{{ i.cid }}.html">
                <h3 class="title">{{ i.title }}</h3>
                <p class="detail">{{ i.abstract }}</p>
            </a>
        </div>
    {% endfor %}
    </div>
    <div class="layui-row chc-product-page">
        <div class="layui-col-xs12">
            <div class="c-page">
            {% if page > 1 %}
                <a href="/example/{{ cid }}/?page={{ previous_page }}" class="page-previous">上一页</a>
            {% endif %}
                <a class="page-location">{{ page }}</a>
            {% if count == 10 %}
                <a href="/example/{{ cid }}/?page={{ next_page }}" class="page-next">下一页</a>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


{% block customjs %}
<script>
//注意：选项卡 依赖 element 模块，否则无法进行功能性操作
layui.use('element', function(){
  var element = layui.element;

  //…
});
</script>
{% endblock %}