{% extends 'home/base.html' %}
{% block customcss %}
{% endblock %}


{% block content %}
    <div class="layui-fluid chc-pc-about">
        <div class="layui-row">
            <div class="layui-col-md12">
                <img src="/static/images/slide/slide001.jpg">
            </div>
        </div>
    </div>
<div class="layui-container">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md3">
            <div class="chc-pc-about-left-item">
                <h2 class="chc-two-title">产品中心 Products</h2>
            </div>
            <div class="chc-product-cate-item">
                <h2 class="item-title"><i class="layui-icon layui-icon-app"></i>工业门系列</h2>
                <ul class="item">
                    <li>悬浮折叠门 <i class="layui-icon layui-icon-right"></i></li>
                    <li>无轨悬浮门 <i class="layui-icon layui-icon-right"></i></li>
                    <li>伸缩平移门 <i class="layui-icon layui-icon-right"></i></li>
                </ul>
                <h2 class="item-title"><i class="layui-icon layui-icon-app"></i>电动伸缩门</h2>
                <ul class="item">
                    <li>铝合金-电动伸缩门 <i class="layui-icon layui-icon-right"></i></li>
                    <li>不锈钢-电动伸缩门<i class="layui-icon layui-icon-right"></i></li>
                </ul>
                <h2 class="item-title"><i class="layui-icon layui-icon-app"></i>别墅庭院大门</h2>
                <ul class="item">
                    <li>铜艺-别墅庭院大门 <i class="layui-icon layui-icon-right"></i></li>
                    <li>铝艺-别墅庭院大门<i class="layui-icon layui-icon-right"></i></li>
                    <li>不锈钢-别墅庭院大门<i class="layui-icon layui-icon-right"></i></li>
                </ul>
                <h2 class="item-title"><i class="layui-icon layui-icon-app"></i>停车管理配套产品</h2>
                <ul class="item">
                    <li>电动道砸 <i class="layui-icon layui-icon-right"></i></li>
                    <li>人行通道闸<i class="layui-icon layui-icon-right"></i></li>
                    <li>车牌识别系统<i class="layui-icon layui-icon-right"></i></li>
                    <li>停车管理系统方案<i class="layui-icon layui-icon-right"></i></li>
                </ul>
                <h2 class="item-title"><i class="layui-icon layui-icon-app"></i>围栏</h2>
                <ul class="item">
                    <li>铝艺围栏 <i class="layui-icon layui-icon-right"></i></li>
                </ul>
                <h2 class="item-title"><i class="layui-icon layui-icon-app"></i>旋转门</h2>
                <ul class="item">
                    <li>旋转门 <i class="layui-icon layui-icon-right"></i></li>
                </ul>
            </div>

            <div class="chc-about-address">
                <h4 class="chc-one-title">联系金洋</h4>
                <div class="address">
                    <img src="/static/images/CatactUs.jpg">
                </div>
                <div class="info">
                    <ul>
                        <li>服务热线</li>
                        <li>139-1063-0394</li>
                        <li>固定电话：</li>
                        <li>010-80213682</li>
                        <li>010-80213826</li>
                        <li>传真号码</li>
                        <li>010-80212896</li>
                        <li>邮箱：3300903019@qq.com</li>
                        <li>地 址：北京市大兴区瀛海镇瑞合一村西通黄路28号</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="layui-col-md9 chc-desc">
            <div class="layui-row">
                <div class="layui-col-md3 leftboder">
                    电动伸缩门 宝马-371Y
                </div>
                <div class="layui-col-md4">&nbsp;</div>
                <div class="layui-col-md5">
                    <span class="layui-breadcrumb">
                      <a href="">您的位置</a>
                      <a href="">首页</a>
                      <a href="">产品中心</a>
                      <a><cite>产品详情</cite></a>
                    </span>
                </div>
                <br>
                <hr>

            </div>
            <div class="layui-row chc-fengmian-detail">
                <div class="layui-col-md6">
                    <div class="img">
                        <img src="/static/images/product/fengmian.jpg">
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-row">
                        <div class="layui-col-md2">
                            <span class="layui-badge">爆款</span>
                        </div>
                        <div class="layui-col-md7 p-title" >
                            电动伸缩门 宝马-371Y
                        </div>
                        <div class="layui-col-md3">
                            好评率 <span class="c-text-red">90%</span>
                        </div>
                    </div>
                    <div class="layui-row">
                        <p>材质： 不锈钢</p>
                    </div>
                    <div class="layui-row zixun-panel">
                        <div class="layui-col-md8">咨询热线：<span class="c-text-red">139-1063-0394</span></div>
                        <div class="layui-col-md4">
                             <button class="layui-btn">立即咨询</button>
                        </div>
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                      <ul class="layui-tab-title">
                        <li class="layui-this">产品详情</li>
                        <li>联系我们</li>
                      </ul>
                      <div class="layui-tab-content" style="height: 100px;">
                        <div class="layui-tab-item layui-show">
                            <h1 class="c-text-red">宝马系列产品特点介绍</h1>
                            <p class="chc-detail-content">电动伸缩门宝马系列产品使用国际最先进的防碰结构设置，超灵敏感应；双开门机头之间，不会因门柱表面光滑反射红外线而无法关闭；电动门伸缩门运行过程中，因操作失误时，门遇人或障碍物50cm内立即停止并自动退回，从而保障门体及行人的安全；在距机头30米以内，若有人翻越门体，及时报警，准确无误；有很强的抗干扰能力，在暴雨、大雪、暴风沙等恶劣的天气下，同样准确无误地报警；直接与微型电脑组成防爬监控系统。</p>
                            <p class="chc-detail-content">北京金洋九峰科技发展有限公司,专注伸缩门,电动门,电动伸缩门,伸缩门厂家,电动门厂家,智能道闸，电动道闸，北京电动伸缩门，北京伸缩门厂家，设计研发,产品全工序制造、品质层层把控、值得信赖、为企业提供一站式门道系统解决方案。 。</p>
                        </div>
                        <div class="layui-tab-item">
                            <ul>
                                <li>地址：北京市通州区马驹桥辛房路与景盛南二街纳特园区10号503室</li>
                                <li>全国销售热线：139-1063-0394 </li>
                                <li>全国服务热线：400-8982-818 </li>
                                <li>总机：010-80213682 </li>
                                <li>传真：010-80212896</li>
                            </ul>
                        </div>
                      </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}


{% block customjs %}
<script>
    layui.use('element', function(){
      var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

      //监听导航点击
      element.on('nav(demo)', function(elem){
        //console.log(elem)
        layer.msg(elem.text());
      });
    });
</script>
{% endblock %}



