            html body{
            background-color: #f2f2f2;
            color: #666;
        }
        .chc-header-daohang a{
            border-right: 1px solid #333;
            padding-right: 10px;
            padding-left: 10px;
        }
        .chc-header-top{height: 30px;
            top: 0px;
            overflow: hidden;
            border-bottom: 1px solid #dddddd;
            line-height:30px;font-size: 12px;
            color: #303030!important;}
        .layui-breadcrumb a{color: #303030!important;}
        .layui-breadcrumb a:hover{color: #eeeeee!important;}
        .layui-fluid{bottom: 40px;}
        .chc-header{height: 120px}
        .chc-header  h2{font-size: 20px;
            color: #ed1b23;    font-weight: bold;}
        .chc-header dd p {
            font-size: 16px;
            color: #303030;
        }
        .chc-layui-logo{line-height: 120px;}
        .chc-header-deatil{
            margin-top: 45px;
            line-height: 30px;
        }
        .phone {
            overflow: hidden;
            background: url(/static/images/phone.png) no-repeat right center;
            float: right;
            margin-top: 25px;
            text-align: right;
            padding-right: 50px;
        }
        .phone h3 {
            font-size: 24px;
            color: #ed1b23;
            font-weight: normal;
        }
        .header_nav {
            overflow: hidden;
            width: 100%;
            height: 55px;
            background-color: #d80007;
        }
        .header_nav li {
            float: left;
            font-size: 14px;
            line-height: 55px;
            background: url(/static/images/navBor.png) repeat-y right top;
            white-space: nowrap;
        }
        .header_nav li.cur a, .header_nav li:hover a {
            color: #333;
        }

        .header_nav li a {
            color: #fff;
            display: block;
            text-decoration: none;
            padding: 0 26px;
        }
        .header_nav li.cur, .header_nav li:hover {
            background: #f1f1f1;
        }
        .chc-content{margin-bottom: 100px}


/*滑动图片*/
#test10 img{width: 100%;height: 100%}

/*热搜词部分*/
.chc-hotword-and-search-bar{padding: 0px 5px 0px 5px;background-color: #333;height: 50px;line-height: 50px}
.chc-hotword-and-search-bar a{color: #fff;}
.chc-hotword{font-size: 20px;font-weight: bold}
.chc-hotword-right{line-height: 50px;}
.chc-hotword-search{float: left;margin-top: 7px}

/*left*/
.chc-product-cate-left .title-1{
    font-size: 20px;
    width: 100%;
    height: 64px;
    line-height: 64px;
    background-color: #252525;
    color: #fff;
    margin: 0 auto;
    text-align: center;
}
.chc-nav-item{
    display: block;
    width: 100%;
    line-height: 45px;
    background-color: #d80007;

}
.chc-nav-item .product-cate1{
    overflow: hidden;
    width: 90%;
    height: 50px;
    line-height: 50px;
    padding-left: 10%;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: url(/static/images/pron.jpg) repeat-x left center;
}
.chc-nav-item .product-cate1 a{
    color: #fff;
}
.chc-product-cate-left .product-details{
    display: block;
    padding: 0;
}
.product-details{
    overflow: hidden;
    padding-bottom: 15px;
    margin: 0 auto;
}
.product-details dd{
    position: relative;
}
.product-details a{
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    color: #fff;
}
.chc-product-cate-left .phone-01{
    width: 100%;
    height: 64px;
    background-color: #252525;
    color: #fff;
    padding: 5px 0px 5px 0px;
}
.phone-icon{
    background: url(/static/images/phImg.png) no-repeat right center;
    float: left;
    margin-left: 5px;
    width: 62px;
    height: 55px;
    border-right: 1px dashed #fff;
}
.chc-product-cate-left .phone-01 span{
    font-size: 10px;
}
.chc-product-cate-left .phone-01 p{
    font-size: 20px;
}
/*right*/
.chc-product-right ul{
    list-style: none;
}
.chc-product-type{height: 80px}
.chc-product-right ul li{
    float: left;
    font-size: 20px;
    padding: 10px;
    height: 30px;
    line-height: 30px;
    border-top: 3px solid #d80007;
    border-bottom: 3px solid #d80007;
    margin-right: 100px;
}
.chc-product-desc{height: 700px}

.product-fengmian{
    text-align: center;
    background-color: #fff;
    padding: 12px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
}
.product-fengmian img{width: 100%;height: 300px;}
.product-fengmian p{
    margin-top: 5px;
    font-size: 15px;
}
/*联系+沟通Btn*/
.chc-relate-btn{
    height: 60px;
    line-height: 60px;
}
.relation-our{
    height: 50px;
    float: left;
    background-color: #d80007!important;
}
.consult-at-once{
    height: 50px;
    float: right;
    background-color: #393D49!important;
}

.chc-banner-01{
    height: 400px;
    margin-top: 20px;
}
.chc-up-and-down-slide{margin-top: 20px;height: 400px}
.chc-up-and-down-slide ul{list-style: none}
.chc-up-and-down-slide ul li{list-style: none;
    height: 100px;
    line-height: 100px;
    background-color: #fff;
    border-bottom: 1px solid #f2f2f2;
    padding-left: 10px;
    font-size: 16px;
}
.chc-up-and-down-slide .slide-img{height: 100%}
.chc-up-and-down-slide .slide-img img{width: 100%;height: 100%}

.cateT{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.chc-example-list ul{list-style: none;height: 50px}
.chc-example-list ul li{list-style: none;
    height: 50px;
    background-color: #fff;
    float: left;
    width: 19.9%;
    border-right: 1px solid #f2f2f2;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
}
.chc-example-list ul li:hover{
    background-color: #d80007;
    color: #fff;
}
.chc-example{
    height: 300px;
}
.chc-example .door {
    text-align: center;
    background-color: #fff;
    padding: 12px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
}
.chc-example .door img{
    width: 100%;height: 100%;
}
.chc-banner-02{
    overflow: hidden;
    width: 100%;
    height: 130px;
    /*background-size:cover;*/
    /*background: url(/static/images/banner/case_ad.png) no-repeat;*/
    margin-bottom: 60px;
    color: #ffffff;

}
.chc-banner-02 .c-red{
    background-color:#d80007 ;
    height: 100%;line-height: 50px;
    padding:5px ;
}
.chc-banner-02 .c-red .c-p-1{
    font-size: 16px;
}
.chc-banner-02 .c-red .c-p-2{
    font-size: 20px;font-weight: bold;
}
.chc-banner-02 .c-black{
    background-color: black;
    height: 100%;
    line-height: 50px;
}
.chc-banner-02 .c-black .phone-01{
       margin-top: 17px;
}
.chc-banner-02 .c-black .phone-01 .phone-icon{
    background: url(/static/images/phImg.png) no-repeat right center;
    float: left;
    margin-left: 5px;
    width: 62px;
    height: 55px;
    border-right: none!important;

}
.chc-worry{
    background: url(/static/images/bg/worryBg.jpg) no-repeat center;
    overflow: hidden;
    width: 100%;
    /*height: 100vh;*/
    height: 750px;
    position: relative;
}
.chc-worry .t-desc{
    list-style: none;
    margin-top: 200px;
}
.chc-worry .t-desc li{
    list-style: none;
    height: 80px;
    line-height: 40px;
    padding: 4px;
    font-size: 16px;
    font-weight: bold;
}
.chc-advantage{
    background: url(/static/images/bg/getBg.jpg) no-repeat center;
    overflow: hidden;
    width: 100%;
    /*height: 100vh;*/
    height: 750px;
    position: relative;
    margin: 20px 0px 20px 0px;
}
.chc-advantage .t-desc{
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    margin-top: 100px;

}
.chc-four-feature{
    margin-top: 220px;
}
.chc-four-feature .feature{
    padding: 5px;
    height: 150px;
    width: 130px;
    box-shadow: 5px -5px 3px #F0F0F0;
    border-radius: 2px;
    background-color: #fff;
    line-height: 67px;
    text-align: center;
    color: black;
}
.chc-four-feature .feature p{
    font-size: 21px;
    font-weight: bold;
}
.chc-caigou-btn{
    margin-top: 20px;
    text-align: center;
}
.chc-caigou-btn button{background-color: #d80007}
/* 本例子滑动css */
.chc-slide-honor .title-2{margin: 20px 0px 20px 0px }
.chc-slide-honor{text-align: center }
.chc-slide-honor .t-red{color:  #d80007;font-weight: bold;}

.picMarquee-left{ width:1140px;  overflow:hidden; position:relative;  }
.picMarquee-left .bd .tempWrap{ width: 100%!important;}

.picMarquee-left .bd ul{ overflow:hidden; zoom:1; }
.picMarquee-left .bd ul li{ margin:0 8px; float:left; _display:inline; overflow:hidden; text-align:center;  }
.picMarquee-left .bd ul li .pic{ text-align:center; }
.picMarquee-left .bd ul li .pic img{ width:200px; height:160px; display:block; padding:2px; border:1px solid #ccc; }
.picMarquee-left .bd ul li .pic a:hover img{ border-color:#999;  }
.picMarquee-left .bd ul li .title{ line-height:24px;   }

.picMarquee-left-photo{ width:100%;  overflow:hidden; position:relative; margin: 20px 0px 20px 0px }
.picMarquee-left-photo .bd ul li .pic{ text-align:center; }
.picMarquee-left-photo .bd ul li .pic img{ width:100%; height:100%; display:block; padding:2px; border:1px solid #ccc; }
.picMarquee-left-photo .bd ul li .pic a:hover img{ border-color:#999;  }
.picMarquee-left-photo .bd ul li .t-name{font-size: 16px;font-weight: bold;margin-top: 10px}
.picMarquee-left-photo .bd ul li .t-desc{font-size: 15px;line-height: 25px}
/*优势*/
.chc-liyou{
    height: 1620px;
    position: relative;
    background-color: #fff;
    padding: 10px;
}
.chc-liyou .chc-youshi{
    text-align: center;
    margin-top: 20px;
}
/*实力-定制---*/
.chc-youshi-bg{
    width: 100%;
    height: 1229px;
    background: url(/static/images/bg/youshiBg.jpg) no-repeat center top;
}
.chc-youshi-bg .chc-shili{position: absolute}
.chc-youshi-bg  .title{
    font-size: 20px;font-weight: bold;
}
.chc-youshi-bg  .chc-shili-1{
    margin-top: 10px;
}
.chc-shili-one{margin-top: 620px;position: absolute}
.chc-youshi-bg  .chc-shili-2{
    ;margin-left: 183px;
}
.chc-youshi-bg  ul li{line-height: 30px}
.chc-ad-1{height: 200px;width: 100%}
.chc-ad-1 img
{height: 100%;width: 100%}

.chc-company{height: 400px}
.chc-company {height: 400px}
.chc-company .chc-company-img{height: 100%;}
.chc-company .chc-company-img img{height: 100%;width: 100%}
/*客户见证*/
.chc-customer{margin: 20px 0px 20px 0px }

/*动态*/
.chc-behaviour{
       height: 80px;
}
.chc-behaviour .layui-col-md4{height: 100%}
.chc-behaviour .chc-bh{
    border: 2px solid #e2e2e2;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
}
.chc-behaviour-detail{height: 300px;}
.chc-behaviour-detail .chc-img{
    position: relative;
    height: 100%;
}
.chc-behaviour-detail .chc-img img{
    width: 100%;height: 100%;
}
.chc-behaviour-detail .chc-img .d-date{
    position: absolute;
    height: 90px;
    line-height: 42px;
    width: 90px;
    top: 12px;
    background-color: #d80007;
    color: #fff;
    text-align: center;
}
.chc-behaviour-detail .chc-img .d-date .d-day{
   font-size: 35px;
}
.chc-dongtai li{height: 75px;border-bottom: 1px dashed #e2e2e2;padding: 5px 0px 5px 0px}
.chc-dongtai .d-date{text-align: center;
    line-height: 30px;
    border-right: 1px solid #e2e2e2;
}
.chc-dongtai .d-date .d-day{font-size: 35px}
.chc-dongtai .d-date .d-month-year{}
.chc-dongtai .d-dongtai {
    padding-left: 5px;
}
.chc-dongtai .d-dongtai .title{font-weight: bold;
    height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;}
.chc-dongtai .d-dongtai .content{
    height: 60px;
    text-overflow: ellipsis;
    overflow: hidden;}

.chc-question{height: 100%;overflow: hidden}
.chc-question .infoList li{
    height: 70px;padding: 5px 0px 5px 0px;
    border-bottom: 1px dashed #e2e2e2;
}
.chc-question .question{
    height: 23px;
    width: 23px;
    text-align: center;
    background-color: #d80007;
    color: #fff;
    padding: 1px;
}
.chc-question .answer{
    height: 23px;
    width: 23px;
    text-align: center;
    background-color: #e2e2e2;
    color: #fff;
    padding: 1px;
}
.chc-question .q-title{
    font-size: 16px;font-weight: bold;
}
.chc-question .chc-q{height: 20px}
.chc-question .chc-a{height: 50px}

/*友情链接*/
.chc-url-link{margin: 40px 0px 20px 0px}
.chc-link{font-size: 20px;font-weight: bold}
.chc-link-friends{list-style: none}
.chc-link-friends li{list-style: none;float: left;padding-left: 10px;padding-right: 10px;border-right: 1px solid #e2e2e2;margin-bottom: 10px;}
/*关于我们-page*/
.chc-pc-about{bottom: 0px!important;height: 350px;margin-bottom: 20px;}
.chc-pc-about img{width: 100%;height: 100%}
.chc-pc-about .layui-row {height: 100%}
.chc-pc-about .layui-row .layui-col-md12{height: 100%}
    /*----left item*/
.chc-pc-about-left-item{height: 70px;background-color:#d80007 ;padding-left: 10px;line-height: 70px;    }
.chc-pc-about-left-item .title{color: #fff;font-size: 20px;font-weight: bold}
.company-item{height: 150px;background-color: #fff}
.company-item ul {list-style: none}
.company-item ul li{height: 50px;color: #333;
    font-size: 18px;line-height: 50px;padding-left: 15px;}
.company-item ul .this{background-color: #333;color: #fff}
.company-item ul li:hover{background-color: #333;color: #fff}
.company-item ul .layui-icon-right{float: right;margin-right: 20px;}
.company-tel{height: 100px;background-color: #333}
.company-tel .icon{    float: left;
    background: url(/static/images/phImg.png) no-repeat center;
    margin-left: 5px;
    width: 62px;
    height: 50px; margin-top: 25px;}
.company-tel .about-phone{
float: right;
    margin-top: 25px;
    margin-right: 44px;
    color: #fff;
}
.company-tel  .xuxian{
        height: 80px;
    float: left;
    margin-top: 10px;
        border-right: 1px dashed;
}
.company-tel .about-phone p{font-size: 20px;font-weight: bold}

.chc-about-news{height: 210px;margin-top: 20px;margin-bottom: 20px;}
.chc-one-title{height: 40px;font-size: 18px;padding-left:10px;color:#fff;background-color: #d80007;line-height: 40px;}
.chc-about-news .news-list{
    height: 160px;background-color: #fff;padding: 10px;
}
.chc-about-news .news-list ul{list-style: none;}
.chc-about-news .news-list ul li{height: 20px;white-space: normal;overflow: hidden;text-overflow: ellipsis;margin: 3px 0px 3px 0px}
.chc-about-news .news-list ul li a{color: #999}
.chc-about-address .address{background-color: #fff;text-align: center}

.chc-about-address .info {background-color: #fff}
.chc-about-address .info ul li{line-height: 20px;padding-left: 8px;}
    /*--right*/
.chc-about-desc{background-color: #fff}

.chc-about-desc .title{border-bottom: 1px solid #f2f2f2;margin-bottom:30px;line-height: 30px;}
.chc-about-desc .title .jinajie{font-size: 18px;border-left: 3px solid #d80007}
.chc-about-content .header-img{text-align: center}
.chc-about-content p{line-height: 25px;font-size: 17px;text-indent: 25px;color: #666}
.chc-about-content{padding: 10px;}

/*产品中心*/
.chc-product-center{bottom: 0px!important;height: 350px;margin-bottom: 20px;}
.chc-product-center .layui-row{height: 100%;}
.chc-product-center img{height: 100%;width: 100%}
.chc-product-panel{background-color: #fff;padding: 10px;}
.chc-product-panel .chc-product-banner {height: 150px;background-color: #d80007;border-radius: 10px;margin: 10px 0px 10px 0px;    font-size: 50px;
    font-weight: bold;
    color: #fff;
    text-align: center;line-height: 150px;}
.chc-product-center-cate .cate{    font-size: 14px;;line-height: 30px;display: inline-block;width: 100%;border-bottom: 1px solid #F0F0F0}
.chc-product-center-cate{border: 1px solid #F0F0F0;padding: 5px;}
.chc-product-center-cate .three{border: none!important;}
.chc-product-center-cate .cate ul{list-style: none}
.chc-product-center-cate .cate ul .main{float: left}
.chc-product-center-cate .cate ul .item{float: left;margin-left: 20px;}
.chc-doors-list .layui-col-md3{}
.chc-doors-list .door-img{height: 300px;padding: 5px;background-color: #f9f9f9}
.chc-doors-list .door-img img{
    width: 100%;height: 260px;
}
.chc-doors-list .door-img span{color: #d80007;font-size: 9px;line-height: 30px;}
.chc-doors-list .door-img .title{;height: 20px;line-height: 25px;font-size: 17px;font-weight: bold;color: #333}
.chc-product-page{text-align: center}