.header_nav  .chc-nav{height: 40px;background-color: #FF0036;text-align: center;line-height: 40px;color: #fff;font-size: 16px}
.header_nav a{color: #fff}
#test10 img{width: 100%;height: 300px;overflow: hidden;background-position: center;text-align: center}

/*搜索框*/
.chc-search-bar{
    position: relative;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.chc-search-bar input{
    position: absolute;
    height: 100%;
}
.chc-search-bar i{
    position: absolute;
    right: 0;line-height: 40px;
    margin-right: 5px;
    font-size: 26px;
}
/*热销+最新商品*/
.chc-product-item .c-label{
    height: 40px;
    text-align: center;
    color: #666;
    font-size: 17px;
    line-height: 40px;
    background: linear-gradient(#fff, #c2c2c2);
}
.chc-product-item .this {
    background: #FF0036!important;
    color: #fff!important;
}
.chc-product-photo{
    margin-top: 5px;
    margin-bottom: 5px;
}
.chc-product-photo .photo{
    background-color: #fff;
    box-shadow: 1px 1px 50px rgba(0,0,0,.3);
    border-radius: 2px;
    padding: 5px;
}
.chc-product-photo .layui-col-xs6,.photo{
    height: 160px;
    text-align: center;
    margin-bottom: 15px;
}
.chc-product-photo .photo img{
    height: 85%;width: 100%;
}
.chc-product-photo .photo p{
    height: 15%;
    font-size: 15px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    line-height: 26px;
}
/*在线咨询+查看更多*/
.chc-online{margin-top: 10px}
.chc-online .zixun div{
    border-top: 5px solid #999;
    text-align: center;
}
.chc-online .zixun .this{
    border-top: 5px solid #FF0036!important;
}
/* 广告*/
.chc-ad{    height: 490px;}
.chc-ad img{
    width: 100%;height: 160px;}
.chc-ad img:nth-child(3){
    position: absolute;
}
.chc-ad button{
    background:#FF0036;
    position: absolute;
    text-align: center;
    margin-left: 35%;
    margin-top: 65px;
}
.chc-default-btn{
    background: #ff0036!important;
    color: #fff!important;
}
/*四大理由*/
#test11{box-shadow: 1px 1px 50px rgba(0,0,0,.3);margin: 5px 0px 5px 0px}
#test11 img{width: 100%;height: 100%}
/**/
.chc-product-item .dongtai{
    margin: 5px 0px 5px 0px;
}
.chc-product-item .dongtai img{width: 100%;height: 300px}
.chc-product-item .news{
    height: 22px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    line-height: 20px;
}
.chc-rexian{position:relative;height: 50px;line-height: 50px;
    background: #fff;
    box-shadow: 1px 1px 50px rgba(0,0,0,.3);
    border-radius: 2px;
    padding: 0px 10px 0px 10px;

}
.news-more{text-align: center;margin: 5px 0px 5px 0px;}
.chc-tel{height: 100%;font-size: 17px;}
.chc-tel i{font-size: 20px;}
.number{color:#FF0036;font-weight: bold;font-size: 20px}
.tianchong{height: 50px}
/*产品详情页*/
.chc-product-detail{background-color: #fff}
.chc-product-detail .p-header{text-align: center}
.chc-product-page{
    height: 40px;
}
.chc-product-page .layui-col-xs12{height: 100%}
.chc-product-page .c-page{
    width: 200px;
    height: 80%;
    line-height: 31px;
    left: 0;
    text-align: center;
    right: 0;
    margin: 0 auto;
}
.chc-product-page .c-page a{height: 100%;float: left;border: 1px solid #FF0036}
.chc-product-page .c-page .page-previous{width: 70px;height: 100%;background: #fff;}
.chc-product-page .c-page .page-location{width: 40px;height: 100%;background: #FF0036;color: #fff}
.chc-product-page .c-page .page-next{width: 70px;height: 100%;background: #fff;}

.chc-product-list{
    height: 40px;
    background-color: #999;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin-top: 5px;
}
.chc-product-list i{font-size: 25px;}

/*新闻列表*/
.chc-news-list{
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 1px 1px 50px rgba(0,0,0,.3);
    margin-top: 5px;
    margin-bottom: 5px;
}
.card-head{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #edf2f9;
    font-size: 1.5em;
    padding-left: 6px;
}
.chc-news-list .news{position: relative;
    height: 95px;
    /*line-height: 22px;*/
    padding: 5px;
    border-bottom: 1px dotted #e2e2e2;}
.chc-news-list .news h3{height: 20px;    color: #FF0036;
    font-weight:bold;overflow: hidden;white-space: nowrap;text-overflow: ellipsis}
.chc-news-list .news p{height: 40px;overflow: hidden;margin-top: 5px;margin-bottom: 5px;white-space: normal;text-overflow: ellipsis}
.chc-news-list .news span{height: 20px;color: #95aac9}
.chc-news-more-btn{text-align: center;margin-bottom: 5px}
/*新闻详情页*/
.news-detail-content{
    background-color: #fff;
    padding: 10px;
}
.news-detail-content .detail-about{
    position: relative;
    line-height: 20px;
    padding: 15px 15px 15px 15px;
    font-size: 13px;
    background-color: #f8f8f8;
    color: #999;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 20px;
}
.news-detail-content .detail-about span{float: left;margin-right: 10px}
/*.news-detail-head{border-bottom: 1px solid #999}*/
.chc-news-title{
    font-size: 24px;
    line-height: 36px;
    color: #333;
    font-weight: bold;
}
.chc-news-content{line-height: 30px;font-size: 17px;color: #333}

/*关于金洋*/
.chc-about-us{background-color: #fff;padding: 5px}

.chc-about-us .c-company-img{text-align: center;width: 100%;height: 200px}
.chc-about-us .c-company-img img{text-align: center;width: 80%;height: 200px}
.chc-about-us .c-content{
    font-size: 17px;line-height: 30px;
    padding: 5px;text-indent:25px
}
/*留言*/
.zaixian_liuyan{position: fixed;
    width:100%;height: 400px;z-index: 9999999;font-size: 16px;
bottom: 0;background: #9999;display: none;color: #fff}
.zaixian_liuyan .layui-col-xs12{width: 100%}
.zaixian_liuyan .head{
    height: 42px;
    line-height: 42px;
    background-color: #FF0036;
    width: 100%;
    font-size: 16px;
    padding: 0px 2px 0px 2px;
}
.zaixian_liuyan .head .liuyan{padding-left: 6px}
.zaixian_liuyan .liuyankuang{width: 100%;height: 100px;padding: 7px;}
.zaixian_liuyan .liuyankuang textarea{width: 100%;height: 100%;}
.zaixian_liuyan .input{padding: 7px}
.zaixian_liuyan .btn{padding: 7px}
.zaixian_liuyan .btn button{background-color: #FF0036}