.header_nav  .chc-nav{height: 40px;background-color: #FF0036;text-align: center;line-height: 40px;color: #fff;font-size: 16px}
#test10 img{width: 500px;height: 300px;overflow: hidden;background-position: center;text-align: center}

//*搜索框*/
.chc-search-bar{
    position: relative;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.chc-search-bar input{
    position: absolute;
    height: 100%;
}
.chc-search-bar i{
    position: absolute;
    right: 0;line-height: 40px;
    margin-right: 5px;
    font-size: 26px;
}
/*热销+最新商品*/
.chc-product-item .new,.hot{
    height: 40px;background-color: #FF0036;
    text-align: center;
    color: #fff;
    font-size: 17px;
    line-height: 40px;
}