.header_nav  .chc-nav{height: 40px;background-color: #FF0036;text-align: center;line-height: 40px;color: #fff;font-size: 16px}
.header_nav a{color: #fff}
#test10 img{width: 100%;height: 300px;overflow: hidden;background-position: center;text-align: center}

/*搜索框*/
.chc-search-bar{
    position: relative;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.chc-search-bar input{
    position: absolute;
    height: 100%;
}
.chc-search-bar i{
    position: absolute;
    right: 0;line-height: 40px;
    margin-right: 5px;
    font-size: 26px;
}
/*热销+最新商品*/
.chc-product-item .c-label{
    height: 40px;
    text-align: center;
    color: #666;
    font-size: 17px;
    line-height: 40px;
    background: linear-gradient(#fff, #c2c2c2);
}
.chc-product-item .this {
    background: #FF0036!important;
    color: #fff!important;
}
.chc-product-photo{
    margin-top: 5px;
    margin-bottom: 5px;
}
.chc-product-photo .photo{
    background-color: #fff;
    box-shadow: 1px 1px 50px rgba(0,0,0,.3);
    border-radius: 2px;
    padding: 5px;
}
.chc-product-photo .layui-col-xs6,.photo{
    height: 160px;
    text-align: center;
    margin-bottom: 15px;
}
.chc-product-photo .photo img{
    height: 85%;width: 100%;
}
.chc-product-photo .photo p{
    height: 15%;
    font-size: 15px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    line-height: 26px;
}
/*在线咨询+查看更多*/
.chc-online{margin-top: 10px}
.chc-online .zixun div{
    border-top: 5px solid #999;
    text-align: center;
}
.chc-online .zixun .this{
    border-top: 5px solid #FF0036!important;
}
/* 广告*/
.chc-ad{    height: 490px;}
.chc-ad img{
    width: 100%;height: 160px;}
.chc-ad img:nth-child(3){
    position: absolute;
}
.chc-ad button{
    background:#FF0036;
    position: absolute;
    text-align: center;
    margin-left: 40%;
    margin-top: 65px;
}
/*四大理由*/
#test11{box-shadow: 1px 1px 50px rgba(0,0,0,.3);margin: 5px 0px 5px 0px}
#test11 img{width: 100%;height: 100%}
/**/
.chc-product-item .dongtai{
    margin: 5px 0px 5px 0px;
}
.chc-product-item .dongtai img{width: 100%;height: 300px}
.chc-product-item .news{
    height: 22px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    line-height: 20px;
}
.chc-rexian{position:relative;height: 50px;line-height: 50px;
    background: #fff;
    box-shadow: 1px 1px 50px rgba(0,0,0,.3);
    border-radius: 2px;
    padding: 0px 10px 0px 10px;

}
.news-more{text-align: center;margin: 5px 0px 5px 0px;}
.chc-tel{height: 100%;font-size: 17px;}
.chc-tel i{font-size: 20px;}
.number{color:#FF0036;font-weight: bold;font-size: 20px}
.tianchong{height: 50px}
/*产品详情页*/
.chc-product-page{
    height: 40px;
}
.chc-product-page .layui-col-xs12{height: 100%}
.chc-product-page .c-page{
    width: 200px;
    height: 80%;
    line-height: 31px;
    left: 0;
    text-align: center;
    right: 0;
    margin: 0 auto;
}
.chc-product-page .c-page a{height: 100%;float: left;border: 1px solid #FF0036}
.chc-product-page .c-page .page-previous{width: 70px;height: 100%;background: #fff;}
.chc-product-page .c-page .page-location{width: 40px;height: 100%;background: #FF0036;color: #fff}
.chc-product-page .c-page .page-next{width: 70px;height: 100%;background: #fff;}

.chc-product-list{
    height: 40px;
    background-color: #999;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin-top: 5px;
}
.chc-product-list i{font-size: 25px;}