<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="renderer" content="webkit" />
    <title>
	电动门,伸缩门,自动伸缩门,车牌识别系统,北京伸缩门厂家,北京金洋九峰科技发展有限公司
    </title>
    <meta name="keywords" content="电动门,伸缩门,电动伸缩门,北京电动门，北京伸缩门，北京电动伸缩门，伸缩门厂家,电动门厂家,电动伸缩门厂家" />
    <meta name="description" content="北京金洋九峰15年专注电动门,伸缩门,电动伸缩门,伸缩门厂家,电动门厂家,电动伸缩门厂家,设计研发,产品全工序制造,品质层层把控,值得信赖,为企业提供一站式门道系统解决方案." />
    <link type="text/css" rel="stylesheet" href="/static/css/reset.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/Common.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/Index.css" />
    <script src="/static/js/1.9.1jquery.min.js"></script>
    <script src="/static/js/mswContent_clickMove.js"></script>
    <script src="/static/js/Index.js"></script>
    <script src="/static/js/Ajax.js"></script>
    <script type="text/javascript">SKIN_PATH="/Skins/default/";</script>
    
     <script>
         $(function () {
             $(".pro_left dl").click(function () {
                 $(this).addClass("dlcur")
                 $(this).siblings().removeClass("dlcur");
             })
         })
     </script>

</head>
<body>
    
<!--header-->

<div class="header">
    <div class="header_top">
        <div class=" container">
            <p> 金洋九峰，为您提供安全、坚固、耐用的大门</p>
            <div class="top_r">
                <ul class="ulleft">
                    <li><a href="javascript:addBookmark()">收藏本站</a></li>
                    <li><a href="/Leaveword.aspx">在线留言</a></li>
                    <li><a href="/sitemap.html">网站地图</a></li>
                    <li class="last"><a href="/aboutus.html">关于金洋</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header_center container">
        <dl>
            <dt><a href="/">
                <img src="/static/image/LOGO.png" alt="北京金洋九峰科技发展有限公司" width="164" height="83"></a> </dt>
            <dd>
                <h2> 专业的门面形象专家</h2>
                <p> 15年专注一站式门道系统解决方案</p>
            </dd>
        </dl>
        <div class="phone">
            <p> 全国免费服务热线</p>
            <h3>139-1063-0394</h3>
                139-1063-0394</h3>
        </div>
    </div>
    <div class="header_nav">
        <ul class="container">
            <li class="cur"><a href="/">金洋首页</a></li>
            <li><a href="/ddssm.htm">电动伸缩门</a></li>
            <li><a href="/zndz.htm">智能道闸</a></li>
            <li><a href="/tydmwl.htm ">别墅庭院大门</a></li>
            <li><a href="/Product/">产品中心</a></li>
            <li><a href="/jyjfgcalzs.htm">成功案例</a></li>
            <li><a href="/news/">新闻资讯</a></li>
            <li><a href="/Helps/aboutus.html">关于金洋</a></li>
            <li><a href="/qysl.htm">企业实力</a></li>
   
        </ul>
    </div>
</div>
<script type="text/javascript">
    //heaernavcs();
    initCommonHeader();
    if (MARK == "") var MARK = "index";
    initCommonHeaderKeywords(MARK);
 
</script>
    <!--banner-->
    
<div id="flashs">
    <div class="bd">
        <div>
                    <div title="金洋九峰" alt="金洋九峰" onclick="window.open('/product/')"
                        class="bgitem" id="flashbg0" style="background: url('/UploadFiles/Others/20160516095316_66623.jpg') no-repeat scroll center top;
                        height: 550px; width: 100%; cursor: pointer; margin: 0 auto;">
                    </div>
                
                    <div title="智能悬浮门" alt="智能悬浮门" onclick="window.open('/product/')"
                        class="bgitem" id="flashbg1" style="background: url('/UploadFiles/Others/20160425162036_36991.jpg') no-repeat scroll center top;
                        height: 550px; width: 100%; cursor: pointer; margin: 0 auto;">
                    </div>
                
                    <div title="伸缩平移门" alt="伸缩平移门" onclick="window.open('/product/')"
                        class="bgitem" id="flashbg2" style="background: url('/UploadFiles/Others/20160421100535_26003.jpg') no-repeat scroll center top;
                        height: 550px; width: 100%; cursor: pointer; margin: 0 auto;">
                    </div>
                
                    <div title="车牌识别一体机" alt="车牌识别一体机" onclick="window.open('/product/')"
                        class="bgitem" id="flashbg3" style="background: url('/UploadFiles/Others/20160427110507_95422.jpg') no-repeat scroll center top;
                        height: 550px; width: 100%; cursor: pointer; margin: 0 auto;">
                    </div>
                
        </div>
    </div>
    <div class="btn hd">
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
    </div>
</div>
  
<script type="text/javascript">
    jQuery("#flashs").slide({ mainCell: ".bd div", titCell: ".hd span", effect: "fold", autoPlay: true, delayTime: 600 });
</script>
    <div class="search container">
        <p>
            <b>热门关键词：</b> <em id="commonHeaderkeywords"></em>
        </p>
        <div class="s_box">
            <input type="text" value="请输入关键词搜索" class="cont_text" id="seachkeywords" onfocus="this.value=''" />
            <a href="javascript:;" id="btnsearch" value="" class="cont_btn" onclick="xuanze()">
            </a>
        </div>
    </div>
    <div class="product container">
        
<div class="pro_left">
    <h3>
        <a href="/Product/">产品中心</a></h3>
    <dl class="dlcur">
<dt><a href="/gymxl.htm" title='工业门系列'> 工业门系列</a></dt>
 <dd>
<a href="/xfzdm.htm" title='悬浮折叠门'>  悬浮折叠门</a>
<a href="/wgxfm.htm" title='无轨悬浮门'>  无轨悬浮门</a>
<a href="/sspym.htm" title='伸缩平移门'>  伸缩平移门</a>
 </dd>
 </dl>
<dl>
<dt><a href="/ddssm.htm" title='电动伸缩门'> 电动伸缩门</a></dt>
 <dd>
<a href="/lhjddssm.htm" title='铝合金-电动伸缩门'>  铝合金-电动伸缩门</a>
<a href="/bxgddssm.htm" title='不锈钢-电动伸缩门'>  不锈钢-电动伸缩门</a>
 </dd>
 </dl>
<dl>
<dt><a href="/tydmwl.htm" title='别墅庭院大门'> 别墅庭院大门</a></dt>
 <dd>
<a href="/tytydm.htm" title='铜艺-别墅庭院大门'>  铜艺-别墅庭院大门</a>
<a href="/lybsdm.htm" title='铝艺-别墅庭院大门'>  铝艺-别墅庭院大门</a>
<a href="/bxgtydm.htm" title='不锈钢-别墅庭院大门'>  不锈钢-别墅庭院大门</a>
 </dd>
 </dl>
<dl>
<dt><a href="/tccglptcp.htm" title='停车管理配套产品'> 停车管理配套产品</a></dt>
 <dd>
<a href="/zndz.htm" title='电动道闸'>  电动道闸</a>
<a href="/rxtdz.htm" title='人行通道闸'>  人行通道闸</a>
<a href="/cpsbxtxt.htm" title='车牌识别系统'>  车牌识别系统</a>
<a href="/scstccglxt.htm" title='停车管理系统方案'>  停车管理系统方案</a>
 </dd>
 </dl>
<dl>
<dt><a href="/lywl.htm" title='围栏'> 围栏</a></dt>
 <dd>
<a href="/lywl.htm" title='铝艺围栏'>  铝艺围栏</a>
 </dd>
 </dl>
<dl>
<dt><a href="/xzm.htm" title='旋转门'> 旋转门</a></dt>
 </dl>

    <dl class="dphone">
    <dt></dt>
    <dd >
        <span >咨询热线</span><p>
           139-1063-0394</p>
    </dd>
</dl>
</div>
        
<div class="pro_right">
        <ul class="menu">
                    <li class="on"><a href="/Product">
                        热销产品</a></li>
                
                    <li class=""><a href="/Product">
                        新品上市</a></li>
                
        </ul>
        <div class="a">
            
                        <ul class="proList">
                            
                                    <li><a href="/Products/diandongshensuomenba.html" title="电动伸缩门    宝莱斯顿-10">
                                        <img alt="电动伸缩门    宝莱斯顿-10" src="/UploadFiles/Product/20160331102244_24954.jpg" width="338" height="190" />
                                        <p>
                                            电动伸缩门    宝莱斯顿-10</p>
                                    </a></li>
                                
                                    <li><a href="/Products/diandongshensuomenka.html" title="电动伸缩门   凯旋门A20银色双杆">
                                        <img alt="电动伸缩门   凯旋门A20银色双杆" src="/UploadFiles/Product/20160331104047_90652.jpg" width="338" height="190" />
                                        <p>
                                            电动伸缩门   凯旋门A20银色双杆</p>
                                    </a></li>
                                
                                    <li><a href="/Products/diandongshensuomenga.html" title="电动伸缩门     钢铁长城">
                                        <img alt="电动伸缩门     钢铁长城" src="/UploadFiles/Product/20160331103250_29012.jpg" width="338" height="190" />
                                        <p>
                                            电动伸缩门     钢铁长城</p>
                                    </a></li>
                                
                                    <li><a href="/Products/shensuopingyimen-902.html" title="伸缩平移门-902灰色">
                                        <img alt="伸缩平移门-902灰色" src="/UploadFiles/Product/20160331111909_71239.jpg" width="338" height="190" />
                                        <p>
                                            伸缩平移门-902灰色</p>
                                    </a></li>
                                
                                    <li><a href="/Products/shensuopingyimen-905.html" title="伸缩平移门-905灰色">
                                        <img alt="伸缩平移门-905灰色" src="/UploadFiles/Product/20160331112238_48658.jpg" width="338" height="190" />
                                        <p>
                                            伸缩平移门-905灰色</p>
                                    </a></li>
                                
                                    <li><a href="/Products/wuguixuanfumen-817.html" title="无轨悬浮门-817">
                                        <img alt="无轨悬浮门-817" src="/UploadFiles/Product/20160427164937_45679.jpg" width="338" height="190" />
                                        <p>
                                            无轨悬浮门-817</p>
                                    </a></li>
                                
                                    <li><a href="/Products/bieshutingyuandamenL005.html" title="别墅庭院大门L-005">
                                        <img alt="别墅庭院大门L-005" src="/UploadFiles/Product/20160518161518_94847.jpg" width="338" height="190" />
                                        <p>
                                            别墅庭院大门L-005</p>
                                    </a></li>
                                
                                    <li><a href="/Products/bieshutingyuandamen-l012.html" title="别墅庭院大门-L012">
                                        <img alt="别墅庭院大门-L012" src="/UploadFiles/Product/20160518165206_98866.jpg" width="338" height="190" />
                                        <p>
                                            别墅庭院大门-L012</p>
                                    </a></li>
                                
                        </ul>
                    
                
                        <ul class="proList">
                            
                                    <li><a href="/Products/diandongshensuomenba.html" title="电动伸缩门    宝莱斯顿-10">
                                        <img alt="电动伸缩门    宝莱斯顿-10" src="/UploadFiles/Product/20160331102244_24954.jpg" width="338" height="190" />
                                        <p>
                                            电动伸缩门    宝莱斯顿-10</p>
                                    </a></li>
                                
                                    <li><a href="/Products/diandongshensuomenka.html" title="电动伸缩门   凯旋门A20银色双杆">
                                        <img alt="电动伸缩门   凯旋门A20银色双杆" src="/UploadFiles/Product/20160331104047_90652.jpg" width="338" height="190" />
                                        <p>
                                            电动伸缩门   凯旋门A20银色双杆</p>
                                    </a></li>
                                
                                    <li><a href="/Products/diandongshensuomenga.html" title="电动伸缩门     钢铁长城">
                                        <img alt="电动伸缩门     钢铁长城" src="/UploadFiles/Product/20160331103250_29012.jpg" width="338" height="190" />
                                        <p>
                                            电动伸缩门     钢铁长城</p>
                                    </a></li>
                                
                                    <li><a href="/Products/shensuopingyimen-902.html" title="伸缩平移门-902灰色">
                                        <img alt="伸缩平移门-902灰色" src="/UploadFiles/Product/20160331111909_71239.jpg" width="338" height="190" />
                                        <p>
                                            伸缩平移门-902灰色</p>
                                    </a></li>
                                
                                    <li><a href="/Products/shensuopingyimen-905.html" title="伸缩平移门-905灰色">
                                        <img alt="伸缩平移门-905灰色" src="/UploadFiles/Product/20160331112238_48658.jpg" width="338" height="190" />
                                        <p>
                                            伸缩平移门-905灰色</p>
                                    </a></li>
                                
                                    <li><a href="/Products/wuguixuanfumen-817.html" title="无轨悬浮门-817">
                                        <img alt="无轨悬浮门-817" src="/UploadFiles/Product/20160427164937_45679.jpg" width="338" height="190" />
                                        <p>
                                            无轨悬浮门-817</p>
                                    </a></li>
                                
                                    <li><a href="/Products/bieshutingyuandamenL005.html" title="别墅庭院大门L-005">
                                        <img alt="别墅庭院大门L-005" src="/UploadFiles/Product/20160518161518_94847.jpg" width="338" height="190" />
                                        <p>
                                            别墅庭院大门L-005</p>
                                    </a></li>
                                
                                    <li><a href="/Products/bieshutingyuandamen-l012.html" title="别墅庭院大门-L012">
                                        <img alt="别墅庭院大门-L012" src="/UploadFiles/Product/20160518165206_98866.jpg" width="338" height="190" />
                                        <p>
                                            别墅庭院大门-L012</p>
                                    </a></li>
                                
                        </ul>
                    
                
        </div>
 <a href="/Helps/ContactUs.html" class="ljxq">联系我们</a> <a href="http://wpa.qq.com/msgrd?v=3&site=北京金洋九峰科技发展有限公司&menu=yes&uin=3054872014"
            class="ljzx">立即咨询</a>
    </div>
    <script type="text/javascript">

        /* 外层tab切换 */
        jQuery(".pro_right").slide({ titCell: ".menu li", mainCell: ".a" });

    </script>

       
    </div>
   
     <div class="bann container mt10"><img src="/Skins/Default/Img/Index/banner.png" /></div>
    <div class="show1 container">

        

<ul class="menu">
    
            <li class="on"><a href="/cpzdsbtcgl.htm">
                车牌自动识别停车管理系统</a></li>
        
            <li class=""><a href="/cpsbyfwjjf.htm">
                车牌识别云服务解决方案</a></li>
        
            <li class=""><a href="/zzycxzdxt.htm">
                自动云查询终端系统</a></li>
        
            <li class=""><a href="/scstccglxt.htm">
                手持式停车场管理系统</a></li>
        
</ul>
<div class="showBox">
    <ul>
        
                <li><a href="/cpsbxtxt.htm">
                    <img src="/UploadFiles/Product/20160524151555_15371.jpg" alt="车牌识别系统" width="750" ></a></li>
                
            
                <li><a href="/.htm">
                    <img src="" alt="" width="750" ></a></li>
                
            
                <li><a href="/.htm">
                    <img src="" alt="" width="750" ></a></li>
                
            
                <li><a href="/scstccglxt.htm">
                    <img src="/UploadFiles/Product/20160526112625_98425.jpg" alt="停车管理系统方案" width="750" ></a></li>
                
            
    </ul>
</div>
    
<script type="text/javascript">

    /* 外层tab切换 */
    jQuery(".asd").slide({ titCell: ".menu li", mainCell: ".showBox" });

</script>

        <script>
            $(function () {
                $(".show1 .menu li").hover(function () {
                    $(".show1 .menu li").removeClass("cur");
                    $(this).addClass("cur");
                    var this_li = $(".show1 .menu li").index(this);
                    $(".show1 .showBox ul").stop().animate({ top: -360 * this_li }, 300)
                })
            })
        </script>
          
    </div>
 
    <div class="case">
        
<div class="container">
    <h3>
        <a href="">
            <img src="/Skins/Default/Img/Index/caseT.png"></a></h3>
    <ul class="menu">
        
                <li class="on"><b class="b01">
                </b><a href="/qsydwbdxm.htm">
                    电动伸缩门案例</a><em></em></li>
            
                <li class=""><b class="b02">
                </b><a href="/xxxqxm.htm">
                    智能悬浮门案例</a><em></em></li>
            
                <li class=""><b class="b03">
                </b><a href="/bstydmgcal.htm">
                    别墅庭院大门案例</a><em></em></li>
            
                <li class=""><b class="b04">
                </b><a href="tccglxts.htm">
                    停车场管理案例</a><em></em></li>
            
                <li class=""><b class="b05">
                </b><a href="/zndzgcal.htm">
                    智能通道闸案例</a><em></em></li>
            
    </ul>
    <div class="caseBox">
            	
        
              <ul class="caseList">
                    
                            <li><a href="/Helps/zhongguojianyanjiany.html" title="中国检验检疫科学研究院">
                                <img alt="中国检验检疫科学研究院" src="/UploadFiles/Help/20181008110036_10159.jpg" width="303" height="195" />
                                <p>
                                    中国检验检疫科学研究院</p>
                            </a></li>
                        
                            <li><a href="/Helps/zhonggongzhongyangda.html" title="中共中央党校北大门">
                                <img alt="中共中央党校北大门" src="/UploadFiles/Help/20170906172526_65277.jpg" width="303" height="195" />
                                <p>
                                    中共中央党校北大门</p>
                            </a></li>
                        
                            <li><a href="/Helps/beijinggongyedaxue.html" title="北京工业大学">
                                <img alt="北京工业大学" src="/UploadFiles/Help/20160620152547_49047.jpg" width="303" height="195" />
                                <p>
                                    北京工业大学</p>
                            </a></li>
                        
                            <li><a href="/Helps/tianjinnankaidaxuena.html" title="北京航空航天大学">
                                <img alt="北京航空航天大学" src="/UploadFiles/Help/20171207103501_59032.jpg" width="303" height="195" />
                                <p>
                                    北京航空航天大学</p>
                            </a></li>
                        
                            <li><a href="/Helps/tianjinnankaidaxuenan.html" title="天津南开大学南门">
                                <img alt="天津南开大学南门" src="/UploadFiles/Help/20160323144715_30188.jpg" width="303" height="195" />
                                <p>
                                    天津南开大学南门</p>
                            </a></li>
                        
                            <li><a href="/Helps/shoudushidaerfuzhong.html" title="首都师大二附中">
                                <img alt="首都师大二附中" src="/UploadFiles/Help/20160323144848_31876.jpg" width="303" height="195" />
                                <p>
                                    首都师大二附中</p>
                            </a></li>
                        
                </ul>
            
              <ul class="caseList">
                    
                            <li><a href="/Helps/tianjinnankaidaxue.html" title="北京九十六中学">
                                <img alt="北京九十六中学" src="/UploadFiles/Help/20171207103649_88554.jpg" width="303" height="195" />
                                <p>
                                    北京九十六中学</p>
                            </a></li>
                        
                            <li><a href="/Helps/zhongyedadianqibeiji.html" title="众业达电器北京有限公司">
                                <img alt="众业达电器北京有限公司" src="/UploadFiles/Help/20160323145150_99488.jpg" width="303" height="195" />
                                <p>
                                    众业达电器北京有限公司</p>
                            </a></li>
                        
                </ul>
            
              <ul class="caseList">
                    
                            <li><a href="/Helps/beijingdaxingqulishu.html" title="北京大兴区丽水家园别墅大门">
                                <img alt="北京大兴区丽水家园别墅大门" src="/UploadFiles/Help/20180910165228_27566.jpg" width="303" height="195" />
                                <p>
                                    北京大兴区丽水家园别墅大门</p>
                            </a></li>
                        
                            <li><a href="/Helps/jing.html" title="北京海景小区">
                                <img alt="北京海景小区" src="/UploadFiles/Help/20171207104607_80731.jpg" width="303" height="195" />
                                <p>
                                    北京海景小区</p>
                            </a></li>
                        
                </ul>
            
              <ul class="caseList">
                    
                            <li><a href="/Helps/baiyinxinshijihuayua.html" title="白银新世纪花园">
                                <img alt="白银新世纪花园" src="/UploadFiles/Product/2016-04-16/20160416102627414.jpg" width="303" height="195" />
                                <p>
                                    白银新世纪花园</p>
                            </a></li>
                        
                            <li><a href="/Helps/maanshanxihuhuayuan.html" title="马鞍山西湖花园">
                                <img alt="马鞍山西湖花园" src="/UploadFiles/Product/2016-04-16/20160416102624929.jpg" width="303" height="195" />
                                <p>
                                    马鞍山西湖花园</p>
                            </a></li>
                        
                            <li><a href="/Helps/ximenzixuzhougongsi.html" title="西门子滁州公司">
                                <img alt="西门子滁州公司" src="/UploadFiles/Product/2016-04-16/20160416102624773.jpg" width="303" height="195" />
                                <p>
                                    西门子滁州公司</p>
                            </a></li>
                        
                            <li><a href="/Helps/dalihaiwanguojijiudi.html" title="大理海湾国际酒店">
                                <img alt="大理海湾国际酒店" src="/UploadFiles/Product/2016-04-16/20160416102624648.jpg" width="303" height="195" />
                                <p>
                                    大理海湾国际酒店</p>
                            </a></li>
                        
                            <li><a href="/Helps/jiangsuhuaian.html" title="江苏淮安如意里">
                                <img alt="江苏淮安如意里" src="/UploadFiles/Product/2016-04-16/20160416102624476.jpg" width="303" height="195" />
                                <p>
                                    江苏淮安如意里</p>
                            </a></li>
                        
                            <li><a href="/Helps/guiyangmingchengjing.html" title="贵阳明诚景怡苑">
                                <img alt="贵阳明诚景怡苑" src="/UploadFiles/Product/2016-04-16/20160416102624336.jpg" width="303" height="195" />
                                <p>
                                    贵阳明诚景怡苑</p>
                            </a></li>
                        
                </ul>
            
              <ul class="caseList">
                    
                </ul>
            
    </div>

<div class="case_ad">
    <div class="phone">
        <p>
            全国免费服务热线</p>
        <h3>
            400-8982-818</h3>
    </div>
</div>
</div>
<script type="text/javascript">

    /* 内层图片无缝滚动 */
    //        jQuery(".Honor .hnlisder").slide({ mainCell: "ul", vis: 4, prevCell: ".prev", nextCell: ".next", effect: "leftMarquee", interTime: 50, autoPlay: true, trigger: "mouseover" });

    /* 外层tab切换 */
    jQuery(".container").slide({ titCell: ".menu li", mainCell: ".caseBox" });
		
</script>

    </div>
    <div class="worry">
        <div class="container">
            <ul>
                <li>很多小厂没有研发实力，<b>技术不过关</b>，产品质量不稳定？</li>
                <li><em>无生产标准</em>，<b>加工过程中偷工减料</b>，产品质量没有保障？</li>
                <li>找的小型厂家无法满足自己的供货需求，<em>拖延交期</em>？</li>
                <li>售后服务不及时，<b>没有安装团队，不及时保养维修？</b></li>
                <li>物流成本高，进出口不方便，综合性价比<em>非常低？</em></li>
                <li class="last"><a href="http://wpa.qq.com/msgrd?v=3&site=北京金洋九峰科技发展有限公司&menu=yes&uin=3054872014">
                    在线咨询</a></li>
            </ul>
        </div>
    </div>
    <div class="get">
        <span>强烈推荐在沿海、东北、西北等强风及恶劣天气地区使用<br>
            通过专业测试，主框”△“型结构<br>
            有效降低50%以上风阻 提高抗风能力</span>
        <ul class="getul">
            <li>
                <div class="nub">
                    <h4>
                        01</h4>
                    <h5>
                        专利保证</h5>
                </div>
                <p>
                    建立研发中心，10年生产研发经验，拥有国家产品专利等自主知识产权。</p>
            </li>
            <li>
                <div class="nub">
                    <h4>
                        02</h4>
                    <h5>
                        精密度高</h5>
                </div>
                <p>
                    精铸底板，强度高，不变形，稳定可靠，产品结构精密配合负差不超0.01mm。</p>
            </li>
            <li>
                <div class="nub">
                    <h4>
                        03</h4>
                    <h5>
                        抗腐蚀性强</h5>
                </div>
                <p>
                    不锈钢螺丝，抗腐蚀，不生锈，不脱落，防寒线抗老化，耐高温，防寒，不龟裂，安全可靠。</p>
            </li>
            <li>
                <div class="nub">
                    <h4>
                        04</h4>
                    <h5>
                        精致美观</h5>
                </div>
                <p>
                   饱和丰满的圆弧状机头、安全警示灯，美观精致，精致高强度装饰边，精致大方。</p>
            </li>
            <li>
                <div class="nub">
                    <h4>
                        05</h4>
                    <h5>
                        质量保证</h5>
                </div>
                <p>
                    专业检测人员全程品质监督，所有产品通过,ISO9001: 2000国际质量管理体系认证</p>
            </li>
            <li>
                <div class="nub">
                    <h4>
                        06</h4>
                    <h5>
                        使用寿命长</h5>
                </div>
                <p>
                    从研发到生产，都注重产品的细节，超出市场同类产品使用年限的2-3倍。</p>
            </li>
        </ul>
        <a href="http://wpa.qq.com/msgrd?v=3&site=北京金洋九峰科技发展有限公司&menu=yes&uin=3054872014"
            class="buy">立即采购</a>
        <div class="xx">
            <h4>
                <a href="">10年来，金洋九峰已经为<b>全国千余企业</b>提供门面形象</a></h4>
            <div class="xxbox" id="xx">
                <a href="javascript:;" class="xx_left" id="xx_left"></a><a href="javascript:;" class="xx_right"
                    id="xx_right"></a>
                
<div class="xxWin">
    <ul>
        
                <li><a href="/Helps/helps-53921818361.html">
                    <img alt="开封市国家电网" src="/UploadFiles/Help/20160322181723_20213.jpg" width="198" height="90"><p>
                        开封市国家电网</p>
                </a></li>
            
                <li><a href="/Helps/kongjunsilingbu.html">
                    <img alt="空军司令部" src="/UploadFiles/Help/20160322181328_95745.jpg" width="198" height="90"><p>
                        空军司令部</p>
                </a></li>
            
                <li><a href="/Helps/wujingzongbu.html">
                    <img alt="武警总部" src="/UploadFiles/Help/20160322180914_33868.jpg" width="198" height="90"><p>
                        武警总部</p>
                </a></li>
            
                <li><a href="/Helps/zhongguogongchandang.html">
                    <img alt="中国共产党包头市委员会" src="/UploadFiles/Help/20160322180348_71039.jpg" width="198" height="90"><p>
                        中国共产党包头市委员会</p>
                </a></li>
            
                <li><a href="/Helps/zhongguokexueyuangon.html">
                    <img alt="中国科学院工程热物理研究所" src="/UploadFiles/Help/20160322180127_14115.jpg" width="198" height="90"><p>
                        中国科学院工程热物理研究所</p>
                </a></li>
            
                <li><a href="/Helps/zhongguonongyedaxue.html">
                    <img alt="中国农业大学" src="/UploadFiles/Help/20160322175308_77303.jpg" width="198" height="90"><p>
                        中国农业大学</p>
                </a></li>
            
    </ul>
</div>

    
    
    
    
    
    


            </div>
        </div>
        <script>
            mswContent("xx", "xx_left", "xx_right", 200, 1200, 3000)
        </script>
    </div>
    <div class="youshi">
        <h3>
            <img src="Skins/Default/Img/Index/youshiT.png"></h3>
        <div class="youshiBox">
            <div class="wen01 wen">
                <h4>
                    实力雄厚</h4>
                <p>
                    2004年开始研发和生产电动伸缩门，积累了10年丰富的工程和技术经验</p>
                <p>
                    北京公司厂房占地<em>20000多平方米，建筑面积10000平方米</em>，高学历员工300多人；</p>
                <p>
                    总部在北京，货经天津港出口到东盟，欧美都非常方便，物流成本低，时效性好</p>
            </div>
            <div class="wen02 wen">
                <h4>
                    品质保证</h4>
                <p>
                    与下游工厂长期合作，多数供应商合作均10年以上，原材料产品品质有很好的保障</p>
                <p>
                    专业检测人员全程品质监督，所有产品通过ISO9001: 2000国际质量管理体系认证</p>
                <p>
                    公司拥有自己独立的研发中心，拥有国家产品专利等自主知识产权</p>
            </div>
            <div class="wen03 wen">
                <h4>
                    量身定制</h4>
                <p>
                    专业安装技术人员能够整合地理环境，工况环境，使用要求等，选择适合的安装方案</p>
                <p>
                    量身定制、产品设计、产品生产、<em>安装一站式生产服务商,让您省时、省事、省心</em></p>
                <p>
                    有10年以上外观设计和研发生产经验的工程师20人，专业的安装团队快速高效解决您的安装问题</p>
            </div>
            <div class="wen04 wen">
                <h4>
                    售后无忧</h4>
                <p>
                    产品的安装及维修在预约时间内人员准时到位，市区报修2小时人员到位，郊区6小时人员到位。</p>
                <p>
                    保质期内，市区每月免费服务一次，服务内容：机械保养，电机运行和电路系统检测，活动部分润滑等。</p>
                <p>
                    免费提供安全操作培训，48小时调试服务，专业技师上门调试，<em>一年内免费保修，产品终身保养维护</em></p>
            </div>
        </div>
    </div>
    <div class="ad">
        <a href="http://wpa.qq.com/msgrd?v=3&site=北京金洋九峰科技发展有限公司&menu=yes&uin=3054872014">
            在线定制</a>
    </div>
    <div class="company">
        <em></em>
        
<div class="container">
    <h3>
        <a href="/Helps/aboutus.html">
            <img src="/Skins/Default/Img/Index/companyT.jpg"></a></h3>
    <dl>
        <dt>
            <img src="/Skins/Default/Img/Index/companyS.jpg" width="495" height="317" id="tupian">
            <div id="kaishi" style="display: none;">
                <object type="application/x-shockwave-flash" id="videoPlayer" data="http://player.ku6.com/inside/wN55zRN7NwBYr6HdrtbFXw../v.swf&amp;adss=0"
                    width="456" height="316" title="Adobe Flash Player">
                    <param name="wmode" value="transparent">
                    <param name="allowScriptAccess" value="always">
                    <param name="allowFullScreen" value="true">
                    <param name="flashvars" value="adss=1&auto=1">
                </object>
            </div>
        </dt>
        
                <dd>
                    <img src="/UploadFiles/Help/20160323145728_43008.jpg" width="959" height="317">
                </dd>
                </dl>
                <div class="wen">
                    <h4>
                        <a href="/Helps/aboutus.html">北京金洋九峰科技发展有限公司</a></h4>
                    <p>
                        北京金洋九峰科技发展有限公司在以不变应万变的国际化商潮中，公司秉诚“励精图治、艰苦奋斗、勇于开拓、自强不息”的企业精神，致力于电动门,电动伸缩门,悬浮折叠门,伸缩平移门,别墅庭院大门,智能道闸,停车管理系统,门禁管理系统及铝艺围栏相关产品的研发、生产、销售。历经十年的发展历程，公司产品已畅销国内市场，远销东南亚等地。金洋九峰电动门已成为门行业内的风向标，引领潮流！<a href="/Helps/aboutus.html">more+</a></p>
            
        <a href="/Helps/aboutus.html" class="ljxq">了解详情</a> <a href="http://wpa.qq.com/msgrd?v=3&site=北京金洋九峰科技发展有限公司&menu=yes&uin=3054872014"
            class="ljzx">立即咨询</a>
</div>
<div class="menu">
    <a href="/">
        <img src="/Skins/Default/Img/Index/companyLogo.jpg" width="235" height="120"></a>
    <ul>
        <li><b class="b01"></b><a href="/ryzz.htm">荣誉资质</a></li>
     <li><b class="b03"></b><a href="/Helps/qiyewenhua.html">品牌理念</a></li>
    </ul>
</div>
</div>

    </div>
    <div class="customer container">
    	<h3><a href=""><img src="Skins/Default/Img/Index/customerT.png"></a></h3>
        <div class="c_box" id="customer">
        	
<ul>
    
            <li><a href="/Helps/beijingwangzong.html" title="北京 汪总">
                <img src="/UploadFiles/Help/20160323112306_45334.jpg" width="238" height="180" class="jzk">
            </a>
                <h4>
                    <a href="/Helps/beijingwangzong.html" title="北京 汪总">
                        北京 汪总</a></h4>
                <p>
                    一次偶然的机会在展会中，了解金洋九峰的产品，就抱着试一试的心态订购了一批；货到之后发现产品质量非...</p>
                <a href="/Helps/beijingwangzong.html" class="more">MORE+</a></li>
        
            <li><a href="/Helps/caigoujingliyangzong.html" title="采购经理 杨总">
                <img src="/UploadFiles/Help/20160323111721_90476.jpg" width="238" height="180" class="jzk">
            </a>
                <h4>
                    <a href="/Helps/caigoujingliyangzong.html" title="采购经理 杨总">
                        采购经理 杨总</a></h4>
                <p>
                    以前我们酒店，采购都需要派人去参查产品的质量，采购一次前后时间差不多要一个月，而且价格比较昂贵，...</p>
                <a href="/Helps/caigoujingliyangzong.html" class="more">MORE+</a></li>
        
            <li><a href="/Helps/shenyangyangzong.html" title="沈阳杨总">
                <img src="/UploadFiles/Help/20160323105543_87988.png" width="238" height="180" class="jzk">
            </a>
                <h4>
                    <a href="/Helps/shenyangyangzong.html" title="沈阳杨总">
                        沈阳杨总</a></h4>
                <p>
                    2010年一次偶然的机会，经朋友推荐认识了金洋九峰，当时我们公司乔迁新址，需要一堂25米大门，当...</p>
                <a href="/Helps/shenyangyangzong.html" class="more">MORE+</a></li>
        
            <li><a href="/Helps/hebeishijiazhuangliu.html" title="河北石家庄  刘总">
                <img src="/UploadFiles/Help/20160323105433_13200.png" width="238" height="180" class="jzk">
            </a>
                <h4>
                    <a href="/Helps/hebeishijiazhuangliu.html" title="河北石家庄  刘总">
                        河北石家庄  刘</a></h4>
                <p>
                    加入金洋九峰这个大家庭已经有5年多了，回想起来时间过得还挺快。从没有方向到快速发展，自己也跟随着...</p>
                <a href="/Helps/hebeishijiazhuangliu.html" class="more">MORE+</a></li>
        
            <li><a href="/Helps/heilongjianghaerbinw.html" title="黑龙江哈尔滨  王总">
                <img src="/UploadFiles/Help/20160323105326_77027.png" width="238" height="180" class="jzk">
            </a>
                <h4>
                    <a href="/Helps/heilongjianghaerbinw.html" title="黑龙江哈尔滨  王总">
                        黑龙江哈尔滨  </a></h4>
                <p>
                    在2009年一次偶遇的机缘中，我开始接触金洋九峰,从而也对福克斯顿系列产品产生了一见钟情、相见恨...</p>
                <a href="/Helps/heilongjianghaerbinw.html" class="more">MORE+</a></li>
        
            <li><a href="/Helps/hushiliuzong.html" title="呼市刘总">
                <img src="/UploadFiles/Help/20160322182355_92764.png" width="238" height="180" class="jzk">
            </a>
                <h4>
                    <a href="/Helps/hushiliuzong.html" title="呼市刘总">
                        呼市刘总</a></h4>
                <p>
                    我是2006年与金洋九峰合作至今，十年的交情，胜似家人，一路见证金洋九峰的成长，每年的公司年会和...</p>
                <a href="/Helps/hushiliuzong.html" class="more">MORE+</a></li>
        
</ul>


        </div>
        <script>
            mswContent("customer", "", "", 254, 1300, 3400)
        </script>
    </div>
    <div class="news">
    	<div class="container">
        
<div class="news_left">
    <ul class="menu">
        
        
                <li><a href="/jyjfdt.htm">
                    金洋九峰动态</a></li>
            
                <li><a href="/xydt.htm">
                    行业动态</a></li>
            
    </ul>
    <div class="bd">
        
            <div class="newsBox">
                    <dl class="dlBox">
                        <dt><a href="/Article/diandongshensuomende_1.html" title="电动伸缩门的日常保养和维护">
                            <img src="/UploadFiles/News/20160323150404_22117.jpg" alt="电动伸缩门的日常保养和维护" width="298" height="262">
                        </a>
                            <p>
                                <em>  23</em><span>2016-01</span></p>
                        </dt>
                        <dd>
                            
                              
                                
                                        <dl class="dlList"><dt>
                                            <p>
                                                12</p>
                                            <span>2018-10</span></dt>
                                        <dd>
                                	<h4><a href="/Article/xibaobeijingjinyangj_1.html" title="喜报！北京金洋九峰悬浮折叠门和车牌识别系统已通过中国汽车技术研究中心验收！">喜报！北京金洋九峰悬浮折叠门和车牌识别系统已通过中国汽车技术研究中心验收！</a></h4>
                                    <p>中国汽车技术研究中心有限公司（China Automotive Technology&amp;Research Center Co. Ltd），简称中汽中心（CATARC），是1985年根据国家对汽车行业管理的需要，经国家科委批准成立的科研院所，现隶属于国务院国有资产监督管理委员会，目前共有职工3360人，总资产51亿元，占地面积7380亩。中国汽车技术研究中心位于天津东丽开发区是中国唯一的汽车行业技术归口单位和国家政府主管部门的技术支撑机构。围绕国家对汽车产品安全、环保、节能及防盗技术和软科学研究为重点。协助政府开展汽车行业标准与技术法规、产品认证检测、质量体系认证,中国汽车技术研究中心将以“十二五”为契机，坚定不移地走“以科技为先导，行业服务为主体，产业化为支撑”的发展道路,努力把自身建设成为国际知名的科技</p>
                                </dd>
                                           </dl>
                                    
                                        <dl class="dlList"><dt>
                                            <p>
                                                12</p>
                                            <span>2018-04</span></dt>
                                        <dd>
                                	<h4><a href="/Article/diandongshensuomenhe_1.html" title="电动伸缩门黑红搭配经典款式消防公安盾牌企业的护身符!">电动伸缩门黑红搭配经典款式消防公安盾牌企业的护身符!</a></h4>
                                    <p>电动伸缩门黑红搭配，珠光宝气系列，经典款式!哪里都有你矫健的身躯，消防、公安等盾牌企业的护身符!真心为你骄傲!底部超宽、屏风封闭等设计，宽厚稳重，独树一帜!个性化定制电动伸缩门请认准北京金洋九峰科技有限公司,设计,研发,制造,销售,安装一体化形象门面专家。&nbsp;电动伸缩门珠光宝气系列产品，是我公司高级工程师历经两年多时间结合古今中国文化：巧妙运用现今高科技手段研发的具有自主知识产权的专利产品,尽现贵族气质，全新的设计结构可抵御九级以下风力，见证金洋九峰卓越品质保证。电动伸缩门立柱经过先进的着色工艺处里的颜色，经得起风吹日晒的考验门头及护罩等全部采用压铸铝工艺，电动伸缩门所有工艺严格要求制做，保证产品完美品质，同时也解决了业界因造型难问题而使用普通塑料。摆脱使用铸铝材料造型难及工艺处理问题。大大延长产品使用</p>
                                </dd>
                                           </dl>
                                    
                                        <dl class="dlList"><dt>
                                            <p>
                                                09</p>
                                            <span>2018-04</span></dt>
                                        <dd>
                                	<h4><a href="/Article/jinyangjiufengshensu_1.html" title="金洋九峰伸缩平移门守护北京市大兴区黄村镇政府!">金洋九峰伸缩平移门守护北京市大兴区黄村镇政府!</a></h4>
                                    <p>风和日丽的季节，你的矫健身躯又给这座城市增添一道靓丽的风景! 北京市大兴区黄村镇政府电动门已安装交付使用！型号902伸缩平移门1.6*12米及围栏，运行平稳!感谢崔总支持!&nbsp;北京市大兴区黄村镇政府电动门案例视频鉴赏伸缩平移门系列产品特点：1、伸缩平移门，外形美观稳重，性能卓越。采用全拼装式生产，无焊接，牢固可靠，出现故障率底，保障产品质量。2、门梁采用特种优质加厚加大铝型材精制而成，型材表面采用国外先进户外热镀喷涂技术，耐候性好、不褪色、防腐防锈性能卓越。特种优质铝合金中柱（超宽型材达到130mm），衬托出磅礴气势，提升门体牢固性能，加强抗风能力。3、防撞保护装置：在关门运行状态下，智能红外线遇人或物，门体自动停止运行。人或物离开智能红外感应范围时，门体继续运行。4、伸缩平移门机箱全部采用防水防尘铝合</p>
                                </dd>
                                           </dl>
                                    
                            
                    </dl></div>
                <div class="newsBox">
                    <dl class="dlBox">
                        <dt><a href="/Article/diandongjuanzhamende_1.html" title="电动卷闸门的安装注意事项">
                            <img src="/UploadFiles/News/20160324103340_57682.jpg" alt="电动卷闸门的安装注意事项" width="298" height="262">
                        </a>
                            <p>
                                <em>  22</em><span>2016-03</span></p>
                        </dt>
                        <dd>
                            
                              
                                
                                        <dl class="dlList"><dt>
                                            <p>
                                                23</p>
                                            <span>2018-05</span></dt>
                                        <dd>
                                	<h4><a href="/Article/beijingjinyangjiufefhjgffn_1.html" title="北京金洋九峰电动伸缩门厂家认真做好每一个订单！">北京金洋九峰电动伸缩门厂家认真做好每一个订单！</a></h4>
                                    <p>电动伸缩门厂家哪家好?北京电动伸缩门厂家，真正能够做到品质好、服务好的厂家不多，而金洋九峰电动门正是因为认真地做好每一份订单，产品才能倍受客户喜爱与追捧。金洋九峰是专业生产电动伸缩门，我们的产品以不锈钢，铝合金，等为主材料制作不锈钢电动伸缩门，铝合金电动伸缩门，这两种材料是目前中国市场的主要材料使用，耐用，强度大，并且外观美观大方，具备很高的防腐防锈，和使用寿命长等优点。&nbsp;金洋九峰的电动伸缩门专注生产，只为为您做得更好，我们100分的努力，只为您10分的满意，为大家带来了智能、安全的生活，是我们一直的追求。对于老客户，我们金洋九峰没有因为老客户而放松思想，而是正是因为老客户，所以金洋九峰人更会加倍的努力，认真做好每一份的订单，因此新客户才会回头成为老客户。是什么的理由，让金洋九峰的电动伸缩门，受到全国</p>
                                </dd>
                                           </dl>
                                    
                                        <dl class="dlList"><dt>
                                            <p>
                                                15</p>
                                            <span>2018-05</span></dt>
                                        <dd>
                                	<h4><a href="/Article/diandongshensuomenchgjgjg_1.html" title="电动伸缩门厂家想提升业绩必须多元化融入新的发展道路!">电动伸缩门厂家想提升业绩必须多元化融入新的发展道路!</a></h4>
                                    <p>平着逐年提高和住宅环境的改善，伸缩门市场迅速崛起。目前用户需要升级电动伸缩门行业推动内部产品升级，高端智能产品不断推动平均价格走向电动伸缩门业务发展带来更大的利润空间。但与此同时，国内经济总体放缓，人口红利到底，接近产品高峰和竞争对手的巨大压力，也显示了2018年电动伸缩门市场的机遇与挑战共存。消费者升级等因素导致电动伸缩门企业快速增长，在国内经济增长放缓的背景下，为什么电动伸缩门业务企业能取得如此明显的成效？由于企业有明确的，可以是发展目标，务实，开拓创新的管理团队，具有高端品牌经营能力，具有全面高效的营销能力，具有持续创新和研发能力，鼓舞人心的考核机制。在消费者升级趋势中，抓住用户的需求，引进了高端智能产品，同时品牌升级和终端渠道优化。虽然同时出现了业绩增长，对不同企业来说意义却不一样。专家说中国专业电动伸</p>
                                </dd>
                                           </dl>
                                    
                                        <dl class="dlList"><dt>
                                            <p>
                                                10</p>
                                            <span>2018-05</span></dt>
                                        <dd>
                                	<h4><a href="/Article/muqianqudaozhenghesh_1.html" title="目前渠道整合是电动伸缩门业务的紧迫任务！">目前渠道整合是电动伸缩门业务的紧迫任务！</a></h4>
                                    <p>电动伸缩门行业发展进入快车道，市场景象蓬勃发展。行业专业人士必须了解，渠道整合是电动伸缩门业务的关键。许多业内人士认为，现在涉及电动伸缩门行业已经失去了时间优势，但有些人认为，相反，目前行业状况却是个好时机。由于电动伸缩门相对于其他行业起步较晚，发展不成熟，市场意识和忠诚度低。虽然业内一些知名企业已经推出了品牌营销，其品牌建设只处于低档，不像家电等行业内的品牌运营显而易见。总体而言，全国电动伸缩门市场品牌建设处于动荡过渡阶段，但部分品牌在市场开拓前列，部分厂商以主动权占有市场份额。&nbsp;长期存在的问题限制了电动伸缩门企业的发展中国电动伸缩门企业主要是私营企业，整体品牌知名度无动于衷。行业发展的初期阶段，民营企业对市场信息敏感，反应迅速，实现了快速发展。但到目前为止的发展，已经发展到一个平台，长期以来积累了</p>
                                </dd>
                                           </dl>
                                    
                            
                    </dl></div>
                
        
</div>
</div>
<!-- Hydt_l_end -->
<!-- Hydt_r_end -->
<script type="text/javascript">

    /* 外层tab切换 */
    jQuery(".news_left").slide({ titCell: ".menu li", mainCell: ".bd" });

</script>

        
<div class="wenda" style="height:325px;">
    <h3>
        <a href="/cjwd.htm">
            常见问答  F & Q</a></h3>
    <div class="wendaBox">
        
                <div class="wendaList">
                    <h5>
                        <a href="/Article/diandongshensuomendejgldsgjdljg_1.html" title="电动伸缩门的内在结构您了解吗？">
                            电动伸缩门的内在结构您了解吗？</a></h5>
                    <p>
                        电动伸缩门我们通常在事业单位、机关、学校、医院等地方都经常见到，但我们似乎只认识电动伸缩门，而具体是怎样构成的我们都不知道，今天，小编特意为大家介绍一下电动伸缩门的内在结构。其实电动伸缩门主要就分三个部分，分别是伸缩门体、机头和控制器。第一部分：电动伸缩门体。它是由门体大框、交叉撑、轴定轴、滑轴以及门体轮等主要部件组成。第二部分：机头。它是由驱动器和电气部分组成并且固定在门体的一端，带动门体伸缩运动并且与门体配套使用。 第三部分：控制器。它是又由控制盒、台式控制器及手柄遥控器组成。&nbsp;控制盒是固定在机头内，由它接收控制器发出的指令控制门体的运行。台式控制器主要由值班人员在值班室内使用。手柄遥控器主要配备车辆使用，可在机头周围10-30米内，根据现场的无线电通讯环境而定。电动伸缩门的内在结构就是这三部分</p>
                </div>
            
                <div class="wendaList">
                    <h5>
                        <a href="/Article/fangfanyuweiran_1.html" title="防范于未然——金洋九峰教你雨季如何防范电动伸缩门漏电">
                            防范于未然——金洋九峰教你雨季如何防范电动伸缩门漏电</a></h5>
                    <p>
                        又到了多雨的夏季，最近的雨水似乎频繁了些，关于雨季如何防范电动伸缩门漏电,咱们先谈谈那些容易让人忽略的漏洞：漏洞一：办公室的插座没有接地或者接的是虚地（有地线但实际上没有接到地）漏洞二：保安室在装修接电时没有配置独立的漏电保护断路器漏洞三：地埋线有破皮或老化进水等现象漏洞四：下雨天水浸过深未及时断电如何防范电动伸缩门漏电，请务必做到以下几点：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、保安室或电动门取电的源头一定要保证接地且为实地而非虚地。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、保安室或电动门取电的源头一定要加装独立的漏电保护断路器。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、电动门的取电一定要独立插座，不要与其</p>
                </div>
            
                <div class="wendaList">
                    <h5>
                        <a href="/Article/diandongshensuomen_1.html" title="电动伸缩门">
                            电动伸缩门</a></h5>
                    <p>
                        电动伸缩门主要由门体、驱动器、控制系统构成。伸缩门的门体采用优质铝合金及普通方管管材制作，采用平行四边形原理铰接，伸缩灵活行程大。电动伸缩门的驱动器采用特种电机驱动，蜗杆蜗轮减速，并配有手动离合器，停电时可手动启闭，伸缩门的控制系统有控制板，按钮开关，另可根据用户需求配备无线遥控装置。电动伸缩门所采用的电机系特殊的专用涡轮蜗杆式电机，因为其传动原理特殊性，稳定性高，输出力矩大、噪音小，速度适中。电动伸缩门主要有伸缩门体、机头、控制器三部分组成。1、伸缩门体：伸缩门体是由门体大框、交叉撑、轴（定轴、滑轴）及门体轮等主要部件组成。门体整体为金属结构，按材质又分为不锈钢门体、铝合金门体、压铸铝门体。2、机头：由驱动器和电气部分组成，它固定在门体的一端，带动门体伸缩运动，与门体配套使用。驱动器分普通型和机器人型。3、控</p>
                </div>
            
                <div class="wendaList">
                    <h5>
                        <a href="/Article/wuguijiqirendediando_1.html" title="无轨机器人的电动伸缩门怎样维护？">
                            无轨机器人的电动伸缩门怎样维护？</a></h5>
                    <p>
                        无轨机器人的电动伸缩门主要以磁铁导航，定期检查限位磁铁，导航磁铁和防撞磁铁有助于门体的使用年限延长。主要检测磁铁是否松动，失去磁性。特别是无轨门对磁铁的需要就像大海里的的鱼离不开水，一条失去限位磁铁的电动门就好比一辆马力十足的汽车没有了刹车。</p>
                </div>
            
                <div class="wendaList">
                    <h5>
                        <a href="/Article/mentiyaozenyangweihu_1.html" title="门体要怎样维护？">
                            门体要怎样维护？</a></h5>
                    <p>
                        在使用中，动作要尽可能的轻开轻关，不要用力过大过猛；电动伸缩门的开启时，发现有阻碍，应先排除故障。
经常清洗，保持表面的清洁，在擦洗时尽量选择软质的纱布或棉丝等，以免划坏电动伸缩门的表面。在有污渍和脏物时，可用清水、酒精或中性洗涤剂、进行清洗。

尽量避免酸性、碱性化学物品接触铝合金电动伸缩门表面，谨防腐蚀电动门。</p>
                </div>
            
                <div class="wendaList">
                    <h5>
                        <a href="/Article/zenyangjianchaqudong_1.html" title="怎样检查驱动控制系统？">
                            怎样检查驱动控制系统？</a></h5>
                    <p>
                        定期检查线路连接状况，特别是裸露在外的线接头连接紧固；
检查电器接地是否良好，电器是否按接线图要求接线；避免螺丝松动造成的线头短路而造成控制器主板烧毁。
使用前，应仔细校核电源、电压、频率等数是否符合要求；对于电压不稳定的条件下电动门应尽量安装电压稳定器，尽量避免电压对控制系统造成不必要的伤害。</p>
                </div>
            
    </div>
</div>

<script type="text/javascript">
    jQuery(".wenda").slide({ mainCell: ".wendaBox", autoPlay: true, effect: "topMarquee", vis: 3, interTime: 50 });
</script>

            
        </div>
    </div>
    <div class="links">
    	<em></em>
        
<div class="container">
        	<h3><a href="/FriendLink/Apply.aspx" target="_blank" class="linkt"><img src="/Skins/Default/Img/Index/links.png"></a>
            	<a href="/FriendLink/Apply.aspx" target="_blank" class="rk">申请友情链接入口>></a></h3>
            <ul>
            	
               
                
           


        
                <li><a href="http://www.zmled168.com" title="格栅灯盘"
                    target="_blank">格栅灯盘</a></li>
            
                <li><a href="http://www.jmgtc.com" title="地板砖厂家"
                    target="_blank">地板砖厂家</a></li>
            
                <li><a href="http://www.aochuang-cmj.com/" title="通风设备"
                    target="_blank">通风设备</a></li>
            
                <li><a href="http://www.yajuyi99.com" title="藤家具"
                    target="_blank">藤家具</a></li>
            
                <li><a href="http://www.zzdy86.com" title="东亚"
                    target="_blank">东亚</a></li>
            
                <li><a href="http://www.apureli.com/" title="净水机加盟"
                    target="_blank">净水机加盟</a></li>
            
                <li><a href="http://www.fsdlong.com/" title="马赛克陶瓷"
                    target="_blank">马赛克陶瓷</a></li>
            
                <li><a href="http://www.zjgbzd.com" title="编织袋"
                    target="_blank">编织袋</a></li>
            
                <li><a href="http://www.flsjsc.com/" title="人造大理石"
                    target="_blank">人造大理石</a></li>
            
                <li><a href="http://www.baorun168.com" title="家具漆"
                    target="_blank">家具漆</a></li>
            
                <li><a href="http://www.jqzhiwu.com" title="景奇园林绿化"
                    target="_blank">景奇园林绿化</a></li>
            
                <li><a href="http://www.excelhw.com.cn" title="厨房拉篮"
                    target="_blank">厨房拉篮</a></li>
            
                <li><a href="http://www.zzbml.com" title="针织面料"
                    target="_blank">针织面料</a></li>
            
                <li><a href="http://www.meiliantuliao.cn/" title="天然真石漆"
                    target="_blank">天然真石漆</a></li>
            
                <li><a href="http://www.fsdlong.com" title="泳池马赛克"
                    target="_blank">泳池马赛克</a></li>
            
                <li><a href="http://http://www.fsxdsw.com/" title="钢格板"
                    target="_blank">钢格板</a></li>
            
                <li><a href="http://fsditang.com/" title="别墅家具"
                    target="_blank">别墅家具</a></li>
            
                <li><a href="http://www.huayangdianlan.com" title="矿物质电缆"
                    target="_blank">矿物质电缆</a></li>
            
                <li><a href="http://www.jinkedl.com" title="铜芯电缆"
                    target="_blank">铜芯电缆</a></li>
            
                <li><a href="http://www.fitlube.com" title="食品级润滑油"
                    target="_blank">食品级润滑油</a></li>
            
                <li><a href="http://www.longju.com.cn" title="外墙砖厂家"
                    target="_blank">外墙砖厂家</a></li>
            
                <li><a href="http://www.jopar279.com" title="焊管设备"
                    target="_blank">焊管设备</a></li>
            
                <li><a href="http://www.hml888.com" title="工程地砖"
                    target="_blank">工程地砖</a></li>
            
                <li><a href="https://www.gdsfmjg.com" title="锌合金模具钢材"
                    target="_blank">锌合金模具钢材</a></li>
            
                <li><a href="http://www.sdchuanghong.com" title="酒店家具"
                    target="_blank">酒店家具</a></li>
            
                <li><a href="http://http://www.nanyubox.com" title="电箱厂家"
                    target="_blank">电箱厂家</a></li>
            
                <li><a href="http://www.fsnanyu.com" title="不锈钢配电箱"
                    target="_blank">不锈钢配电箱</a></li>
            
                <li><a href="http://www.fsyyz88.com" title="液压系统"
                    target="_blank">液压系统</a></li>
            
    </ul>
</div>


    </div>
    

<div class="footer">
    	<div class="f_nav">
        	<ul class="container">
            	<li><a href="/">金洋首页</a></li>
                <li><a href="/Product/">产品中心</a></li>
                <li><a href="/jyjfgcalzs.htm">成功案例</a></li>
                <li><a href="/ryzz.htm">荣誉资质</a></li>
                <li><a href="/hzhb.htm">合作伙伴</a></li>
                <li><a href="/khjz.htm">客户见证</a></li>
                <li><a href="/Sitemap.html">网站地图</a></li>
                <li><a href="/xwmt.htm">金洋资讯</a></li>
                <li class="last"><a href="/Helps/ContactUs.html">联系金洋</a></li>
            </ul>
        </div>
        <div class="f_btm container">
            <div class="wen">
                <p>金洋九峰@版权所有</p>
                <p>公司地址：北京市通州区马驹桥辛房路与景盛南二街纳特园区10号503室	</p>
                <p>采购热线：<139-1063-0394><em></em>总机：010-80213682 传真/FAX：010-80212896</p>
                <p><span><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1259788685'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1259788685' type='text/javascript'%3E%3C/script%3E"));</script></span><em></em><a style="color:#aaa8ad;" href="http://www.miitbeian.gov.cn/" target="_blank"> 备案号：京ICP备15032728号</a> </p>
            </div>
             <img src="/Skins/Default/Img/Common/wx.jpg" width="98" height="98" class="wx">	
            <img src="/Skins/Default/Img/Common/ewm.png" width="98" height="98" class="ewm">	

        </div>
        <div id="gotop">
            <div title="回到顶部" id="roll_top">
            </div>
        </div>
    </div>

<script type="text/javascript">
var _mvq = window._mvq || []; 
window._mvq = _mvq;
_mvq.push(['$setAccount', 'm-242908-0']);
_mvq.push(['$setGeneral', '', '', /*用户名*/ '', /*用户id*/ '']);//如果不传用户名、用户id，此句可以删掉
_mvq.push(['$logConversion']);
(function() {
var mvl = document.createElement('script');
mvl.type = 'text/javascript'; mvl.async = true;
mvl.src = ('https:' == document.location.protocol ? 'https://static-ssl.mediav.com/mvl.js' : 'http://static.mediav.com/mvl.js');
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(mvl, s); 
})();
</script>
<script type="text/javascript" charset="utf-8" src="http://lead.soperson.com/10039707/10063404.js"></script>
</body>
</html>

