@import "../../utils/bdParse/bdParse.css";
.container{padding: 10px;}
.newstitle text{ font-size: 25px;}
.more_labels{
    margin:10px;
}
.more_labels text{
    font-size: 13px;
    color: #666;
    text-indent: 3px;
}
.content{
    line-height: 20px!important;
    font-size: 15px!important;
}
.cate1{
    color: #3388ff!important;
}
.zanview{
    text-align: center;
    margin-top: 20px;
        margin-left: 31%;
}
.zanview .zan{
    width: 100px;
    height: 30px;
    line-height: 30px;
    border:1px solid #999;
    border-radius: 20px;
}
.zanview .zan image{
    width: 20px;height: 20px;
}
.zanview .zan{color:  #3388ff}

.lottie{
    position: fixed;
    top: 10%;
    opacity: 0.8;
    width: 100%;
    height: 200px;

}